{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head><font size="+10"><center>घातक रोग</center></font>
        <style type='text/css'>
            body {
                font: 14px sans-serif;
                
                padding: 150px;
                ;
            }
            </style>
      </head>
    <body bgcolor="#E5E2E2">
        
        <div>
            <br>
        <h1><font size ="+2">रोग जो गाय को मार सकता है</font></h1>
        
<h3>बिसहरिया (Anthrax)</h3>

<p> (एंथ्रेक्स) बिसहरिया मनुष्यों सहित सभी गर्म रक्त वाले जानवरों की संभावित घातक बीमारी है। यह रोग बैसिलस एंथ्रेसीस नामक बीजाणु बनाने वाले जीवाणु के कारण होता है। प्रजातियों की संवेदनशीलता भिन्न होती है। मवेशी, भेड़ और बकरियों को अतिसंवेदनशील और पक्षियों को अत्यधिक प्रतिरोधी माना जाता है। जानवरों में, संचरण अंतर्ग्रहण और संभवतः बीजाणुओं के अंतःश्वसन द्वारा होता है</p>

<p>हाल की राष्ट्रीय घटनाओं ने एंथ्रेक्स में नए सिरे से रुचि पैदा की है।</p>

<h3>ब्रूसिलोसिस (Brucellosis)</h3>
<p>ब्रुसेलोसिस पशुधन की एक संक्रामक बीमारी है जो मनुष्यों को भी प्रभावित करती है। इस रोग को पशुओं में संक्रामक गर्भपात या बैंग रोग के रूप में भी जाना जाता है। मनुष्यों में, संक्रमण के साथ रुक-रुक कर होने वाले बुखार के कारण इसे अनडुलेंट फीवर के रूप में जाना जाता है। यह पशुओं की सबसे गंभीर बीमारियों में से एक है, क्योंकि यह इतनी तेजी से फैलती है और इंसानों में फैलती है।k</p>

<h3>पागल गायों को होने वाला रोग (Bovine Spongiform Encephalopathy)</h3>
<p> BSE व्यापक रूप से "मैड काउ डिजीज" के रूप में जाना जाता है, 1986 में यूनाइटेड किंगडम में पहली बार पहचाने जाने वाले मवेशियों की एक घातक बीमारी है। अधिकांश शोध से पता चलता है कि एक असामान्य प्रोटीन, जिसे प्रियन के रूप में जाना जाता है, बीएसई का कारण बनता है। वैज्ञानिक साक्ष्य उसी रोग एजेंट को दिखाते हैं जो मवेशियों में बीएसई का कारण बनता है, नए मानव रोग, वैरिएंट क्रूट्ज़फेल्ड-जैकब रोग का भी कारण बनता है। बीएसई मुख्य रूप से प्रसंस्कृत जुगाली करने वाले उत्पादों वाले पशु आहार के माध्यम से मवेशियों में फैलता है। बीएसई से संक्रमित मवेशियों को बीमारी के लक्षण दिखने में 2 से 8 साल लगते हैं, जिसमें स्वभाव में बदलाव जैसे घबराहट या आक्रामकता, और प्रगतिशील असंगति शामिल है।</p>

<h3>गोजातीय क्षय रोग (Bovine Tuberculosis) </h3>
<p>तपेदिक (टीबी) एक गंभीर जीवाणु रोग है जो माइकोबैक्टीरियम प्रजाति के कारण होता है जो आमतौर पर श्वसन प्रणाली को प्रभावित करता है। टीबी से संक्रमित जानवर वर्षों तक लक्षण नहीं दिखा सकते हैं, और जो जानवर स्वस्थ दिखाई देते हैं वे अन्य जानवरों को संक्रमण फैलाने में सक्षम हो सकते हैं।</p>

<h3>पैर और मुंह की बीमारी (Foot and Mouth Disease)</h3>
<p>फुट एंड माउथ डिजीज (FMD) एक दुर्बल करने वाली बीमारी है, जो मवेशियों, सूअरों और भेड़ों सहित सभी खुर वाले खुर वाले जानवरों को प्रभावित करती है। आमतौर पर मवेशियों में देखे जाने वाले नैदानिक ​​लक्षण हैं लार, होंठ सूँघना, और लंगड़ापन, जो जीभ, दंत पैड और पैरों पर फफोले (पुटिकाओं) के कारण होता है। भेड़ और सूअर में समान, लेकिन अक्सर कम स्पष्ट, नैदानिक ​​लक्षण होते हैं।</p>

<h3>जॉन रोग (Johne's Disease)</h3>
<p>जॉन की बीमारी एक जीवाणु (माइकोबैक्टीरियम पैराट्यूबरकुलोसिस) के कारण होती है जो जुगाली करने वालों के आंत्र पथ को संक्रमित करती है। मवेशी आमतौर पर बछड़ों के रूप में संक्रमित होते हैं लेकिन तीन या अधिक वर्ष की आयु तक नैदानिक ​​लक्षण नहीं दिखाते हैं। रोग धीरे-धीरे विकसित होता है और अंततः संक्रमित जानवर को मार देता है। कोई प्रभावी उपचार नहीं है। उन्नत जॉन्स रोग वाले मवेशियों को पुराने दस्त होते हैं और अच्छी भूख होने के बावजूद लगातार वजन कम होता है।</p>

<h3>रेबीज (Rabies)</h3>
<p>रेबीज एक वायरल बीमारी है जो सभी स्तनधारियों को प्रभावित करती है जिसका इलाज न होने पर हमेशा घातक होता है। मामलों का निदान पशुधन, साथ ही कुत्तों, बिल्लियों और वन्यजीवों में किया जाता है।</p>

<h3>स्क्रूवर्म (Screwworm)</h3>
<p>स्क्रूवर्म मक्खी के लार्वा (मैगॉट) होते हैं जो जीवित मांस पर फ़ीड करते हैं। ये परजीवी किसी भी गर्म खून वाले जानवर को संक्रमित कर सकते हैं। स्क्रूवर्म एक कीट के काटने के रूप में छोटे घावों में प्रवेश करते हैं और क्षेत्र में जीवित ऊतक पर फ़ीड करते हैं। यदि अनुपचारित किया जाता है, तो स्क्रूवर्म संक्रमण घातक हो सकता है। अमेरिका में स्क्रूवर्म एक विदेशी पशु रोग है जिसे निदान के 24 घंटों के भीतर रिपोर्ट किया जा सकता है। स्क्रूवर्म ने हाल ही में यू.एस. में कुत्तों में प्रवेश किया है जिन्हें दुनिया के उन क्षेत्रों से आयात किया गया है जहां मक्खियां स्थानिक हैं।</p>

<h3>ट्राइकोमोनोसिस (Trichomonosis)</h3>
<p>गोजातीय ट्राइकोमोनोसिस (उर्फ ट्राइकोमोनिएसिस या ट्राइच) प्रोटोजोआ ट्रिट्रिचोमोनास भ्रूण के कारण मवेशियों का एक यौन रोग है। जीव सांडों में प्रीप्यूस और आंतरिक म्यान की परतों में रहता है, और गायों की योनि, गर्भाशय ग्रीवा, गर्भाशय और डिंबवाहिनी का उपनिवेश करता है। यह गर्भपात और विस्तारित बछड़े के मौसम का कारण बनता है। प्राकृतिक सेवा के दौरान बैल लगातार संक्रमित रहेंगे और गाय से गाय में संक्रमण फैलाएंगे; हालांकि, गाय आमतौर पर दो से तीन गर्मी चक्रों के बाद संक्रमण को दूर करती हैं।</p>
</div>
<div>
    <br>
    <h1><font size ="+2">अन्य हत्यारे रोग</font></h1>
   
    <div>
    <h3><center>1.बिसहरिया (Anthrax)</center></h3>
    <p>
        बैसिलस एन्थ्रैचिस एंथ्रेक्स का कारण बनता है
    </p>
    <p>मेज़बान: एंथ्रेक्स घरेलू जानवरों, जंगली जानवरों और मानवों का एक मिट्टी जनित जीवाणु संक्रमण है</p>
    
   	 
                                        
     
    <h4>परिचय</h4>
    <p>चेतावनी: ध्यान देने योग्य बीमारी! यदि आपको संदेह है कि किसी जानवर को एंथ्रेक्स है, तो आपको तुरंत अधिकारियों को सूचित करना चाहिए। एंथ्रेक्स से मरने वाले संदिग्ध जानवरों को नहीं खोला जाना चाहिए।
     
    
        एंथ्रेक्स घरेलू पशुओं, जंगली जानवरों और मनुष्यों का मिट्टी से होने वाला जीवाणु संक्रमण है। यह बीजाणु बनाने वाले जीव बैसिलस एंथ्रेसीस के कारण होता है।
        
        मेजबान: यह जंगली और घरेलू शाकाहारी जीवों में सबसे आम है - मवेशी, भेड़, बकरी, ऊंट, घोड़ा, सुअर, कुत्ता, मृग, ज़ेबरा - लेकिन यह संक्रमित जानवरों, दूषित पशु उत्पादों, या सीधे जानवरों के ऊतकों के संपर्क में आने वाले मनुष्यों में भी होता है। एंथ्रेक्स बीजाणु। यह मुर्गियों को प्रभावित नहीं करता है लेकिन यह शुतुरमुर्गों में आम है।
        
        वितरण: एंथ्रेक्स पूरी दुनिया में होता है। गर्म जलवायु में यह अधिक आम है क्योंकि बीजाणु केवल तभी बनते हैं जब तापमान 20@ और 40@C के बीच होता है, आर्द्रता 60% से अधिक होती है और पीएच 6.0 से ऊपर होता है।
        
        ऐसी परिस्थितियों में बीजाणु का निर्माण तेजी से होता है, जिससे मिट्टी और पानी दूषित हो जाता है, जहाँ बीजाणु वर्षों तक जीवित रह सकते हैं; कुछ मामलों में 30 साल तक। बीजाणु ऑक्सीजन की उपस्थिति में बनते हैं। एक शव के भीतर जीव तेजी से मर जाते हैं। केवल जब वे हवा और ऑक्सीजन के संपर्क में आते हैं तो वे बीजाणु बनाते हैं।
    </P>
     
    <h4>प्रसार का तरीका</h4>
    <p>यह रोग उन चरागाहों से फैलता है जो बीजाणुओं से दूषित होते हैं। सूखे के दौरान जानवरों को छोटी घास पर चरने के लिए मजबूर किया जा सकता है जो संक्रमित मिट्टी से दूषित हो सकती है। एंथ्रेक्स के बीजाणु कई वर्षों तक मिट्टी में संक्रमित रह सकते हैं। इस समय के दौरान वे पशुओं को चराने के लिए संक्रमण का एक संभावित स्रोत हैं। चरने वाले जानवर तब संक्रमित हो सकते हैं जब वे मिट्टी से पर्याप्त संख्या में इन बीजाणुओं को निगल लेते हैं।
    
     <p>
    
    
  
    
    <img src="{%static 'img/ms.jpg' %}" alt="">
    <p>संक्रमण का एंथ्रेक्स चक्र, एंथ्रेक्स दिशानिर्देशों से संशोधित WHO</p>
    
    <p>(c) CABI: Animal Health and Production Compendium, 2007 Edition.</p>
    
     
    
    <p><ul>
        <li>हड्डी से दूषित चारा, या संक्रमित जानवरों के अन्य भोजन, पशुओं के लिए संक्रमण के स्रोत के रूप में काम कर सकते हैं, क्योंकि घास जो संक्रमित मिट्टी से अत्यधिक दूषित होती है।</li>
    <li>संक्रमण सांप्रदायिक जल बिंदुओं से प्रभावित होता है। जानवरों की विभिन्न प्रजातियों द्वारा उपयोग किए जाने वाले पानी के छिद्रों को संक्रमण का स्रोत माना जाता है।</li>
        <li>बाढ़ पहले दबे हुए बीजाणुओं को उजागर कर सकती है और कृषि पद्धतियां भी ऐसा ही कर सकती हैं।</li>
            <li>संक्रमित जानवरों के ऊतकों को चूहों और कैरियन खाने वालों द्वारा स्थानांतरित किया जा सकता है और संक्रमण को स्थानांतरित किया जा सकता है।</li>
                <li>कच्चा या खराब पका हुआ दूषित मांस मनुष्यों सहित मांसाहारी और सर्वाहारी के लिए संक्रमण का एक स्रोत है।</li>
                    <li>जानवरों में, संक्रमण आमतौर पर संक्रमित घास खाने से होता है, आमतौर पर बीजाणु संक्रमित धूल या खुले घावों के माध्यम से सांस लेने से कम होता है। मवेशियों, भेड़ और बकरियों में संक्रमण लगभग हमेशा मुंह से होता है।</li>
                        <li>ऊंटों और घोड़ों के काटने से मक्खियाँ संक्रमण फैला सकती हैं और यह इन प्रजातियों के शरीर और पैरों पर कभी-कभी देखी जाने वाली सूजन की व्याख्या कर सकता है।</li>
                            <li>चर्मशोधन कारखानों में कामगारों को प्रभावित करने वाले एक व्यावसायिक खतरे के बाद मनुष्य काफी प्रतिरोधी हैं और संक्रमित हैं। श्रमिक बीजाणुओं को अंदर ले सकते हैं और एंथ्रेक्स के तीव्र घातक न्यूमोनिक रूप से पीड़ित हो सकते हैं। त्वचीय एंथ्रेक्स उन लोगों में आम है जो संक्रमित शव से मांस और अन्य पशु उत्पादों को ले जाते हैं। पशु उत्पादों जैसे खाल, ऊन और हड्डियों में बैक्टीरिया कई वर्षों तक जीवित रह सकते हैं।</li>
                                <li>मनुष्यों में संक्रमण आमतौर पर त्वचा के घर्षण या साँस के द्वारा होता है। ऊन, खाल और खाल को संभालने वाले लोग ज्यादातर जोखिम में होते हैं। संक्रमित मांस खाने से स्पष्ट रूप से एक बड़ा जोखिम होता है, हालांकि अत्यधिक प्रतिरोधी बीजाणुओं को विकसित होने का मौका मिलने से पहले तेजी से खाना पकाने से जीव जल्दी नष्ट हो जाता है। केन्या में ऐसे मामले सामने आए हैं जहां लोगों ने संक्रमित जानवरों का मांस खाया है और कुछ ही समय बाद उनकी मृत्यु हो गई।  </li>
     </ul>
    </p>
    
    <p>एंथ्रेक्स के बीजाणु कई वर्षों तक जीवित रह सकते हैं</p>
    <img src="{%static 'img/anthrax.jpg' %}" alt="">
    <p>(c) CDC Atlanta, Georgia</p>
    
     
    
     
    
    <h4>एंथ्रेक्स (anthrax) के लक्षण</h4>
    <p>संक्रमण के मार्ग, मेजबान कारकों और संभावित तनाव विशिष्ट कारकों के आधार पर, एंथ्रेक्स में कई अलग-अलग नैदानिक ​​प्रस्तुतियां हो सकती हैं।
    </p>
    <p>एंथ्रेक्स बेसिलस जानवरों में एक घातक विष पैदा करता है जो द्रव के संचय (एडिमा = सूजन) और ऊतक क्षति का कारण बनता है, जिसके परिणामस्वरूप सदमे और गुर्दे की विफलता से मृत्यु हो जाती है।
    </p>
    <p>बहुत गंभीर रूपों में, एक छोटी बीमारी होती है और इससे बीमारी का इलाज करना मुश्किल हो जाता है। पशु को तेज बुखार, सांस लेने में कठिनाई के बाद ऐंठन, पतन और मृत्यु हो जाती है।
    </p>
    <p>पशु, भेड़ और बकरियों जैसे जुगाली करने वालों में, एंथ्रेक्स के लक्षण बहुत अचानक और गंभीर होते हैं, मृत्यु मिनटों से घंटों के भीतर होती है। चौंका देने वाला, तेज बुखार, तेजी से सांस लेना, कांपना, गिरना और कुछ ऐंठन वाली हरकतें होती हैं, जिसके बाद मौत हो जाती है। आमतौर पर जानवर मृत पाया जाता है, शरीर के उद्घाटन से खूनी निर्वहन होता है। कठोर मोर्टिस अक्सर अनुपस्थित या अपूर्ण होता है, चिह्नित सूजन और तेजी से अपघटन के साथ। रक्त गहरा और गाढ़ा होता है और आसानी से थक्का नहीं बन पाता है। यदि गलती से शव को खोल दिया जाए तो यह देखा जाएगा कि प्लीहा बहुत बढ़ गया है और गूदा नरम और रुका हुआ है।
    </p>
    <p>गंभीर रूपों में, रोग मृत्यु से लगभग 2 - 3 दिन पहले तक रहता है। जानवर उदास, सुस्त और तेज बुखार वाला दिखाई देगा। आंखों और मसूड़ों में श्लेष्मा झिल्ली भीड़भाड़ और रक्तस्रावी (खून दिखा रहा है) है। गले में सूजन (पानीदार) सूजन के कारण सांस लेने में कठिनाई होती है।
    </p>
    <p>कम गंभीर मामलों में, कुछ जानवर 1 सप्ताह तक जीवित रह सकते हैं और अन्य ठीक हो जाते हैं। कुत्तों, मनुष्यों, घोड़ों और सूअरों में, रोग आमतौर पर कम गंभीर होता है। कभी-कभी निचली गर्दन, छाती और कंधों में सूजन हो सकती है, खासकर सूअर, ऊंट और घोड़ों जैसे जानवरों में।
    </p>
    <p>गंभीर और कम गंभीर दोनों मामलों में, प्रभावित गायों का गर्भपात हो सकता है और दूध उत्पादन में कमी आ सकती है। दूध खून से सना हुआ होगा या पीले रंग का दिखाई देगा। पाचन तंत्र में संक्रमण से पेचिश हो सकती है।
    </p>
     
    <h4>निदान</h4>
    <p>अचानक मौत के किसी भी मामले में एंथ्रेक्स का संदेह होना चाहिए और एक पशु चिकित्सक को सूचित किया जाना चाहिए ताकि निदान किया जा सके। ब्लोट, बिजली गिरने, ब्लैकक्वार्टर, सर्पदंश और पौधे के जहर से भी अचानक मौत हो सकती है।
    </p>
    <p>अयोग्य प्रयोगशाला कर्मियों के लिए बीमारी के नमूने लेना बहुत जोखिम भरा है। नमूना प्रक्रिया केवल योग्य प्रयोगशाला कर्मियों द्वारा ही की जानी चाहिए।
    </p>
    <p>नाक, मुंह या गुदा से खून आना एंथ्रेक्स का एक सुस्पष्ट संकेत है। यह बहुत कुछ या कुछ बूँदें हो सकती हैं। यह अनुपस्थित भी हो सकता है।
    </p>
    <p>पशु चिकित्सक एक लिम्फ नोड, पेट के तरल पदार्थ या चमड़े के नीचे की सूजन से एक रक्त धब्बा या धब्बा दाग देगा और तेजी से निदान देने के लिए माइक्रोस्कोप के नीचे इसकी जांच करेगा। अगर रिपोर्ट निगेटिव आती है तो ही पोस्टमॉर्टम जांच होनी चाहिए। माइक्रोस्कोप के तहत जीव गुलाबी कैप्सूल के साथ बड़े चौकोर सिरे वाली छड़ के रूप में दिखाई देता है।
    </p>
     
    
    <img src="{%static 'img/zebra.jpg' %}" alt="">
    <p>मृत ज़ेबरा एंथ्रेक्स के लक्षणों के साथ
    
    (c) Peter C B Turnbull</p>
    
     
    
     
    <h4>रोकथाम और नियंत्रण</h4>
    <p>रोकथाम और नियंत्रण के लिए पशुओं और मनुष्यों के बीच रोग के प्रसार को रोकने और कम करने के लिए पशु चिकित्सा नियमों का कड़ाई से पालन करने की आवश्यकता है।
    </p>
    <p>एंथ्रेक्स एक बहुत ही गंभीर खाद्य जनित रोगज़नक़ हो सकता है और इसे किसी भी तरह से किसी भी भोजन या फ़ीड में प्रवेश करने से रोका जाना चाहिए।
    </p>
    <p>एंथ्रेक्स से मरने वाले किसी भी जानवर के शव को नहीं खोला जाना चाहिए, बल्कि जला दिया जाना चाहिए या कम से कम 2 मीटर की गहराई पर दफनाया जाना चाहिए, और आसपास के क्षेत्र को जला दिया जाना चाहिए और 10% फॉर्मेलिन या 10% कास्टिक सोडा के साथ संदूषण को रोकने के लिए इलाज किया जाना चाहिए। पर्यावरण का। जिस क्षेत्र में शव जलाया गया है, उसके आसपास के क्षेत्र को बंद कर दिया जाना चाहिए।
    </p>
        <h5>मृत्यु के बाद के संकेत</h5>
    <ul>
    <li>शव सख्त और फूला हुआ है</li>
        <li>अपघटन तेजी से होता है</li>
            <li>कान, मुंह, नाक, गुदा या योनि से खून बहना</li>
                <li>खून गहरा होता है और थक्का नहीं जमता</li>
     
                <img src="{%static 'img/p1.jpg' %}" alt="">
    
    <p>संदिग्ध एंथ्रेक्स मामला: एंथ्रेक्स के लक्षणों के साथ एक मृत सुअर को एक उपयुक्त स्थान से तरल पदार्थ का एक धब्बा लेने से पहले शरीर के तरल पदार्थ के नुकसान को रोकने के लिए एक प्लास्टिक की थैली में संलग्न किया जाता है।
    </p>
        <p>(c) John Walton (deceased)</p>
    
     
    
     
    
    <h5>दूषित बिस्तरों, परिसरों और चारे को नष्ट कर देना चाहिए या पूरी तरह से कीटाणुरहित करना चाहिए।</h5>
    <ul>
    <li>कानूनी आवश्यकता के रूप में जोखिम वाले सभी पशुओं का टीकाकरण सालाना किया जाना चाहिए। एविरुलेंट लाइव स्टर्न-स्ट्रेन बीजाणु वैक्सीन, जिसने कैप्सूल बनाने की क्षमता खो दी है, अधिकांश देशों में उपलब्ध है और वार्षिक सुरक्षा प्रदान करता है। केन्या में "ब्लांथैक्स" नामक एक व्यावसायिक रूप से उपलब्ध उत्पाद का उपयोग ब्लैक क्वार्टर और एंथ्रेक्स के खिलाफ वार्षिक टीकाकरण के लिए किया जाता है।<li>
        <li>ऐसे क्षेत्रों में जानवरों की आवाजाही को रोकने के लिए सभी संक्रमित क्षेत्रों में संगरोध लगाया जाना चाहिए। इस तरह के संगरोध को कीटाणुशोधन प्रक्रिया पूरी होने के कम से कम 6 महीने बाद तक नहीं हटाया जाना चाहिए।</li>
            <li>उपयुक्त अधिकारियों को सूचित किया जाना चाहिए।</li>
                <li>रोगग्रस्त जानवरों को संभालने वाले सभी व्यक्तियों द्वारा अपनी सुरक्षा और बीमारी के प्रसार को रोकने के लिए सामान्य स्वच्छता उपायों का पालन किया जाना चाहिए।</li>
                    <li>कुत्तों, गीदड़ों और पक्षियों सहित मैला ढोने वालों को नियंत्रित किया जाना चाहिए और संक्रमण के प्रसार को कम करने के लिए मृत जानवरों से दूर रखा जाना चाहिए।</li>
                        <li>स्वस्थ पशुओं को उस आस-पास से हटा दें जहां किसी जानवर की मृत्यु हुई हो।</li>
     
    </ul>
    <h5>अनुशंसित उपचार</h5>
    
    बेसिलस एंथ्रेसीस पेनिसिलिन, स्ट्रेप्टोमाइसिन और टेट्रासाइक्लिन जैसे एंटीबायोटिक दवाओं के लिए अतिसंवेदनशील है और इनका उपयोग एक योग्य पशु चिकित्सक द्वारा या तो संक्रमित जानवरों के इलाज के लिए किया जा सकता है, जब वे जीवित दिखाई देते हैं, या संपर्क में जानवरों को सुरक्षा प्रदान करते हैं। इसके बाद लगभग 7-10 दिनों के बाद टीकाकरण किया जाता है।
    </div>
    <div>
        <h3><center>2.ब्लोट (bloat)</center></h3>
        <p>जब किसी जानवर का पेट अचानक गुब्बारे की तरह उड़ने लगता है, और जानवर को चलने में परेशानी होती है - अक्सर दर्द से कराहता है - इसे अनुबंधित सूजन कहा जाता है। यह बहुत बार फ़ीड में अचानक परिवर्तन के साथ होता है जैसे कि बारिश की शुरुआत में जब बहुत सारी ताजी नई घास अचानक उपलब्ध हो जाती है। कई जानवर एक ही समय में सूजन कर सकते हैं, इसलिए जब बारिश शुरू होती है तो आस-पास के उपचार जैसे कि खाना पकाने का तेल या डिटर्जेंट जैसे ओएमओ या इसी तरह के उपचार करना अच्छा होता है।
            </p>
            <p>एक वयस्क गाय को खाना पकाने के तेल की आधा बोतल खिलाना आम तौर पर पर्याप्त होता है, अगर समय रहते पकड़ा जाए तो वह आधे घंटे के भीतर पूरी तरह से ठीक हो जाती है। यदि कोई खाना पकाने का तेल उपलब्ध नहीं है, तो लोग पानी की एक बोतल पर मुट्ठी भर ओएमओ के साथ इलाज करने में भी सफल रहे हैं। हालाँकि, यदि बहुत अधिक समय बीत जाता है और जानवर अब खड़ा नहीं होता है, तो एकमात्र आशा बाईं ओर पेट में एक छेद काटने की होती है जहां सूजन अपने उच्चतम बिंदु पर होती है। उचित निर्देशों के लिए कृपया पोषण संबंधी समस्याओं से लिंक करें।
                </p>
            </div>
    <div>
        <h3><center>3.Enterotoxemia</center></h3>
        <p>पेचिश भी कहा जाता है, यह एक बहुत ही गंभीर बीमारी है - खासकर युवा जानवरों के लिए। यदि आपके झुंड में बैक्टीरिया है तो यह सभी युवा जानवरों की मृत्यु का कारण हो सकता है।
        <p>
            एंटरोटॉक्सिमिया जीवाणु क्लोस्ट्रीडियम परफ्रिंजेंस के कारण होता है, एक जीव जो दुनिया भर में मिट्टी में और जानवरों के जठरांत्र संबंधी मार्ग में होता है। यह शक्तिशाली विषाक्त पदार्थों (जहर) का उत्पादन करने की क्षमता की विशेषता है। जीवाणु बीजाणु बनाने में भी सक्षम होते हैं जो मिट्टी में बहुत लंबे समय तक जीवित रहते हैं। पांच प्रकारों की पहचान की गई है, जिनमें से सबसे महत्वपूर्ण बी, सी और डी हैं।
            </p>
           <p> क्लोस्ट्रीडियम परफ्रेंजेंस प्रकार बी, सी और डी के बीजाणु मिट्टी और सामान्य जानवरों के मल में उन क्षेत्रों में पाए जाते हैं जहां रोग प्रचलित है और साथ ही संक्रमित भेड़ की आंतों की सामग्री में भी पाए जाते हैं। सामान्य जानवरों के आंत्र पथ में उनकी उपस्थिति महत्वपूर्ण है क्योंकि वे एक घातक संक्रमण के लिए फोकस बनाने में सक्षम होते हैं जब और जब परिस्थितियां बदलती हैं तो उनके तेजी से गुणा करने की अनुमति मिलती है।
            </p>
            <h4>प्रकार बी और सी (पेचिश)<h4>
            <p>इस प्रकार के कारण गंभीर आंत्रशोथ (पेट में संक्रमण), पेचिश (बहुत गंभीर दस्त, अक्सर रक्त और श्लेष्मा के साथ), टोक्सिमिया (रक्त विषाक्तता) और युवा मेमनों, बछड़ों, सूअरों और बछड़ों में उच्च मृत्यु दर होती है। 
            </p>
            <ul>
            <li>टाइप बी और सी दोनों अत्यधिक नेक्रोटाइज़िंग और घातक बीटा टॉक्सिन उत्पन्न करते हैं, जो आंतों की गंभीर क्षति के लिए जिम्मेदार है। वयस्क मवेशी, भेड़ और बकरियां टाइप सी के कारण होने वाले एंटरोटॉक्सिमिया से प्रभावित हो सकते हैं। </li>
                <li>मेमने का पेचिश तीन सप्ताह की उम्र तक मेमनों में होता है और यह टाइप बी के कारण होता है।</li>
                    <li>बछड़ा एंटरोटॉक्सिमिया एक महीने की उम्र तक अच्छी तरह से खिलाए गए बछड़ों में टाइप बी और सी के कारण होता है।</li> 
                        <li>सुअर एंटरोटॉक्सिमिया जीवन के पहले कुछ दिनों के दौरान होता है और टाइप सी के कारण होता है। </li>
                            <li>फोल एंटरोटॉक्सिमिया जीवन के पहले सप्ताह के दौरान होता है और टाइप बी के कारण होता है।</li>
                                <li>वयस्क भेड़ में टाइप सी के कारण स्ट्रक होता है, जबकि वयस्क बकरियों में बकरी एंटरोटॉक्सिमिया भी टाइप सी के कारण होता है।</li>
            </ul>
            
            <h4>एंटरोक्सामिया (पेचिश) के लक्षण</h4>
            <p>मेमने पेचिश तीन सप्ताह से कम उम्र के मेमनों की एक तीव्र बीमारी है। कई लक्षण दिखने से पहले ही मर जाते हैं। अन्य लोग दूध पीना बंद कर देते हैं, बेसुध हो जाते हैं, भगंदर (दुर्गंधयुक्त), खून से लथपथ दस्त होते हैं और कुछ ही दिनों में मर जाते हैं।
            </p>
            <p>बछड़ों में तीव्र दस्त, पेचिश, पेट में दर्द और ऐंठन होती है। मृत्यु कुछ घंटों के भीतर हो सकती है, लेकिन कम गंभीर मामले कुछ दिनों तक जीवित रह सकते हैं और कभी-कभी ठीक भी हो सकते हैं।
            </p>
            <p>वयस्क भेड़ों में अकस्मात मृत्यु की विशेषता है।
            </p>
             
            
            <h4>निदान</h4>
            <p>सभी मामलों में विशिष्ट संकेत म्यूकोसा के अल्सरेशन के साथ आंत (रक्तस्रावी आंत्रशोथ) की खूनी सूजन है। माइक्रोस्कोप के तहत आंत की सामग्री के दाग वाले स्मीयर बड़ी संख्या में ग्राम पॉजिटिव रॉड के आकार के बैक्टीरिया को प्रकट करते हैं।
            
            </p>
            
            <h4>नियंत्रण और रोकथाम</h4>
            <ul>
            <li>चूंकि रोग इतना गंभीर है, उपचार अप्रभावी है। कुछ मामलों में एंटीबायोटिक दवाओं का मौखिक प्रशासन सहायक हो सकता है।</li>
                <li>मेमनों में रोग गर्भावस्था के अंतिम तीसरे के दौरान गर्भवती बांध के टीकाकरण द्वारा सबसे अच्छा नियंत्रित किया जाता है, शुरू में एक महीने के अलावा 2 टीकाकरण और उसके बाद सालाना।</li>
                    <li>जब गैर-टीकाकरण वाले बांधों से नवजात पशुओं में प्रकोप होता है, तो एंटीसेरम, यदि उपलब्ध हो, तो जन्म के तुरंत बाद प्रशासित किया जाना चाहिए।</li>
                        <li>टाइप डी (पल्पी किडनी डिजीज)</li>
                            <li>इस प्रकार भेड़ के गुर्दा गुर्दा रोग का कारण बनता है।  </li> 
                                <li>यह दुनिया भर में होता है और किसी भी उम्र के जानवरों में हो सकता है, लेकिन आमतौर पर 3 से 12 सप्ताह के मेमनों में और 6-12 महीने की उम्र के मेमनों में होता है। एकल मेमने जुड़वा बच्चों की तुलना में अधिक संवेदनशील होते हैं। मृत्यु दर आमतौर पर 100% है।</li>
                                    <li>यह छोटी आंत में जीव के तेजी से गुणन और बाद में एप्सिलॉन विष के अवशोषण के कारण होता है, जो आंत में जीव द्वारा निर्मित होता है।</li>
                                        <li>हरे-भरे चरने वाले मेमने या फीडलॉट में अनाज खिलाए जाने पर विशेष रूप से जोखिम होता है।</li>
                                        <h4>पल्पी किडनी रोग<h4>
                                        <p>पल्पी किडनी डिजीज पेराक्यूट (बहुत तेजी से खत्म होने वाला) है और ज्यादातर मामलों में मृत पाए जाते हैं। जो मृत्यु से पहले देखे जाते हैं वे हाइपरएस्थेसिया (छूने और अन्य उत्तेजनाओं के लिए अत्यधिक प्रतिक्रिया) दिखाते हैं, लेटने के लिए आगे बढ़ते हुए, इसके सिर को पीछे की ओर घुमाते हुए, रुक-रुक कर ऐंठन, कभी-कभी दस्त और मृत्यु। प्रभावित जानवर ठीक नहीं होते हैं।
                                            </p>
                                        </div>
    <div>
        <h3><center>4.लिवर फ्लूक</center></h3>
        <p>लीवर फ्लूक्स के जीवन चक्र में एक घोंघा शामिल होता है, जो एक मध्यवर्ती मेजबान के रूप में कार्य करता है। अगर घोंघा नहीं है तो कोई फ्लूक नहीं होगा। शामिल घोंघे को जीवित रहने के लिए स्थिर, स्थिर पानी की आवश्यकता होती है; तेज बहता पानी उसके अनुकूल नहीं होता। दलदल, तालाब, दलदली किनारे वाली झीलें और वनस्पतियों से घिरे पानी के कुंड जानवरों के चरने के लिए खतरे के क्षेत्र हैं।
            </p>
<p>मवेशी, भेड़ और बकरियां मुख्य रूप से प्रभावित होती हैं, हालांकि अन्य जानवर जैसे कि गधे, घोड़े और कई प्रकार के वन्यजीव जैसे भैंस भी संक्रमित हो सकते हैं। मनुष्य भी लीवर फ्लूक से पीड़ित हो सकते हैं।
 </p>
<p>जैसा कि नाम से पता चलता है, लीवर फ्लूक लीवर पर हमला करता है।
 </p>

<h4>बीमारी के तीन रूप हो सकते हैं:</h4>
 <ol>
<li>लीवर की विफलता से और आंतरिक रक्तस्राव से, जब बड़ी संख्या में अपरिपक्व फ्लुक्स पलायन करते हैं और यकृत के ऊतकों को नुकसान पहुंचाते हैं, तो फ्लूक्स अचानक मृत्यु का कारण बन सकता है। यह नैदानिक ​​तस्वीर युवा भेड़ों में आम है।</li>
    <li> एनीमिया और एडिमा (सूजन) के साथ एक पुरानी बर्बादी की बीमारी भी पैदा कर सकता है। एडिमा आमतौर पर निचले जबड़े ("बोतल के जबड़े") और पेट के निचले हिस्से पर स्थित होती है। मवेशियों में यह सबसे आम तस्वीर है।</li>
        <li>संक्रामक नेक्रोटिक हेपेटाइटिस (ब्लैक डिजीज) में फ्लूक के कारण जिगर के घाव मुख्य रूप से 2 से 4 साल की उम्र की भेड़ की बीमारी है, लेकिन यह युवा मवेशियों में भी होता है। विशिष्ट जीवाणु (क्लोस्ट्रीडिया) यकृत के घावों में गुणा करते हैं जो फ्लूक्स को स्थानांतरित करने और विषाक्त पदार्थों को छोड़ने के कारण होते हैं। आकस्मिक मृत्यु का परिणाम है।</li>
</ol>
<h4>लीवर फ्लूक्स का जीवन चक्र</h4>
<p>लीवर फ्लूक के जीवन चक्र का ज्ञान रोग को नियंत्रित करने के तरीके को समझने में सहायता करता है।
 </p>
<p>Fasciola gigantica और Fasciola hepatica के लिए मध्यवर्ती मेजबान घोंघे भिन्न हो सकते हैं लेकिन अन्य मामलों में जीवन चक्र समान है।
 </p>
 <ul>
<li>जीवन चक्र अस्थायी के अंडों से शुरू होता है जो यकृत में पित्त नलिकाओं में परिपक्व होते हैं, नलिकाओं से गुजरते हैं, आंत में और मल के साथ उत्सर्जित होते हैं।</li>
    <li>एक बार पर्यावरण में बाहर, जिसमें पानी होना चाहिए, अंडे सेते हैं, एक सक्रिय चरण जारी करते हैं, जिसे मिरासिडिया कहा जाता है। मिरेसिडिया के विकास के लिए प्रारंभिक अवस्था में तापमान और समय महत्वपूर्ण है- 5-6 डिग्री सेल्सियस से ऊपर और 25-24 डिग्री सेल्सियस के बीच सबसे अच्छा। मिरासिडिया को 24-30 घंटों के भीतर एक उपयुक्त घोंघा ढूंढ़ना होगा, नहीं तो वे मर जाएंगे।</li>
        <li>मिरासिडिया या तो सक्रिय रूप से एक मेजबान घोंघे पर आक्रमण करता है या एक मेजबान घोंघे द्वारा खाया जाता है।</li>
            <li>फिर वे घोंघे की आंत में बच्चे पैदा करते हैं और अगला चरण घोंघे के ऊतकों में विकसित होता है।</li>
                <li>5 से 8 सप्ताह बाद घोंघे से एक और चरण निकलता है और जड़ी-बूटियों या घास से जुड़ी प्रतिरोधी सिस्ट बनाता है, जहां उन्हें अंतिम मेजबान - मवेशी, भेड़, बकरी या अन्य शाकाहारी द्वारा खाया जाता है।</li>
                    <li>एक बार भेड़ या गाय द्वारा निगल लिया गया अपरिपक्व फ्लूक आंत की दीवार पर आक्रमण करता है, यकृत की यात्रा करता है जहां वे पित्त नलिकाओं तक पहुंचने तक यकृत ऊतक को व्यापक नुकसान पहुंचाते हैं। यहां वे वयस्क गुच्छे में परिपक्व हो जाते हैं और अंडे देना शुरू कर देते हैं और जीवन चक्र फिर से शुरू हो जाता है। इसके संक्रमण से 10-12 सप्ताह का समय लगता है जब तक कि अंडे देना और मल के साथ बहना शुरू नहीं हो जाता।</li>
                    </ul>    
                    <p>परिपक्व गुच्छे लंबे समय तक जीवित रहते हैं और भेड़ और मवेशी वर्षों तक वाहक हो सकते हैं।</p>

                    <img src="{%static 'img/l1.jpg' %}" alt="">
<p>Fasciola hepatica का जीवनचक्र</p>
<img src="{%static 'img/l2.jpg' %}" alt="">
<p>लीवर फ्लूक का जीवन चक्र</p>
<h4>रोकथाम - नियंत्रण - उपचार</h4>

<ul>
<li>नियंत्रण उपायों में प्रभावित जानवरों में फ्लूक के खिलाफ उपचार और घोंघे से पीड़ित चरागाहों तक पशुओं की पहुंच की रोकथाम शामिल है। व्यवहार में ज्यादातर मामलों में इनमें से केवल पहला ही प्रयोग किया जाता है।</li>
    <li>घोंघे की साइटों को बंद करना समझ में आता है जब क्षेत्र छोटे होते हैं। पशुधन को तालाबों और रुके हुए पानी से पीने से रोकना जहां वे लीवर फ्लूक सिस्ट से पीड़ित पेरी-जलीय वनस्पतियों से भोजन कर सकते हैं, एक महत्वपूर्ण उपाय है। यह एक मधुमक्खी है जो पशुओं के पानी के लिए पर्याप्त रूप से बनाए रखा पानी के कुंड प्रदान करके उनके आसपास एक अच्छा कंक्रीट क्षेत्र के साथ क्षेत्र को मैला होने से रोकने के लिए प्राप्त किया जाता है। </li>
        <li>चरागाहों और मेढकों का जल निकासी सबसे अच्छा स्थायी समाधान है, लेकिन यह महंगा हो सकता है।</li>
            <li>अफ्रीका में चरने वाले पशुओं में गीले मौसम की तुलना में शुष्क मौसम के दौरान लीवर फ्लूक के संक्रमण की संभावना अधिक होती है, क्योंकि शुष्क मौसम के दौरान वे घोंघे से प्रभावित बाढ़ क्षेत्रों और दलदल में प्रवेश करते हैं जो शुष्क मौसम चराई भंडार का निर्माण करते हैं। ऐसी स्थितियों में जानवरों को ऐसे दलदलों से यथासंभव लंबे समय तक बाहर रखने की सलाह दी जाती है ताकि जड़ी-बूटियों पर कम व्यवहार्य सिस्ट मौजूद हों।</li>
                <li>जब दलदल में प्रवेश करना अपरिहार्य हो तो पुराने मवेशियों को पहले जाना चाहिए क्योंकि वे छोटे मवेशियों की तुलना में बहुत अधिक प्रतिरोधी होते हैं, उसके बाद सबसे अधिक अतिसंवेदनशील भेड़ और बकरियों द्वारा पीछा किया जाता है।</li>
                    <li>सबसे अधिक जोखिम वाले जानवरों को फ्लूक के खिलाफ विशिष्ट दवाओं का रोगनिरोधी प्रशासन, रोग की घटना को काफी कम कर सकता है।</li>
</ul>

<h4>इलाज</h4>

<h5>लिवर फ्लूक्स के उपचार में निम्नलिखित दवाएं प्रभावी हैं:</h5>
<ol>
<li>Triclabendazole और Fenbendazole क्रमशः 10mg और 8mg की दर से मुंह से शरीर के वजन प्रति किलो की दर से दिया जाना चाहिए।</li>
    <li>ट्रोडैक्स या नाइट्रोक्सिनिल को मवेशियों के लिए 34% घोल में 1.5 मिली प्रति 50 किग्रा शरीर के वजन पर सूक्ष्म रूप से प्रशासित किया जाता है और आवश्यकतानुसार दोहराया जा सकता है।</li>
        <li>ऑक्सीक्लोज़ानाइड या फ्लुकेनाइड या रैनाइड विभिन्न दवा निर्माताओं से उपलब्ध हैं और निर्माता की सिफारिश के अनुसार इसका उपयोग किया जाना चाहिए।</li>
</ol>


</div> 
    <div>
        <h3><center>5.सांप का काटना</center></h3>
        <p>अंत में सर्पदंश भी अचानक मौत का कारण बन सकता है। यदि सांप को देखा और पहचाना जाता है, तो एक एंटीवेनम की कोशिश की जा सकती है।
            </p>
<p>यदि कारण का समय पर निदान किया जाता है तो लोगों को बिजली के झटके देने का भी सौभाग्य मिला है: एक कार मालिक को स्टार्टर केबल के साथ जल्दी से आने के लिए कहें, कार के दोनों तरफ सकारात्मक और नकारात्मक सिरों के साथ एक त्वरित झटका देते हुए कार को चालू छोड़ दें। काटने का घाव। यह लोगों पर भी काम करता है!
    </p>
    
</div>

</body>