{% load static %}


<!DOCTYPE html PUBLIC >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>पशुधन की स्वस्थ जीवन शैली :: Home</title>
<style type="text/css">
<!--
li {text-align:justify;}
body{line-height:1.2em;}
.style2 {font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #FF6633; }
.style3 {color: #FF3300}
.style14 {
	font-family: Arial, Heslvetica, sans-serif;
	font-size: 14px;
}
.style16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #663300;
}
.style22 {color: #009900}
.Style13 {font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
.style29 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.style32 {font-size: 13px}
.style36 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #FFFFFF; }
.style38 {font-family: Arial, Helvetica, sans-serif}
.style39 {font-size: 12px}
.style43 {font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; }
.style49 {font-size: 14}
.style54 {font-size: 12px; font-weight: bold; }
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #009900;
}
a:active {
	text-decoration: none;
	color: #000000;
}
.style221 {color:#600;}
.tabmenu {font-size:13px;
}
body,td,th {
	font-family: "Arial Unicode MS";
	font-size: 13px;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="940" border="0" cellpadding="0" cellspacing="0">
    <!--DWLayoutTable-->
    
    <tr>
      <td colspan="4" valign="top centre"><img src="{%static 'img/index_new_3.jpg' %}" alt="" width="910" height="200" border="0" usemap="#Map" />
        <map name="Map" id="Map">
          <area shape="rect" coords="640,84,696,103" href="#" />
          <area shape="rect" coords="710,86,750,106" href="http://healthyLifestyle.html" />
      </map></td>
    </tr>
   <tr>
      <td width="635" height="35" align="left" valign="middle" bgcolor="#87CEFA"><font color="#000000" size="4">पशुधन : मवेशी : स्वस्थ जीवन शैली</font></td>
      <td width="329" height="25" colspan="2" align="center" valign="middle" bgcolor="#FFF6E7"><a href="animhus_index.html" ></a>
     
    </tr>
    <tr>
      <td width="329" colspan="2"></td>
    </tr>
    <tr>
      <td colspan="3" valign="top"><p align="left" class="style43">FEED  MANAGEMENT</p>
        <table width="100%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="left" valign="top"><p align="left" class="style49"><strong>बछड़ों को कोलोस्ट्रम खिलाना</strong></p>
              <p align="justify" class="style14"> यह पालन की जाने वाली प्रणाली के साथ अलग-अलग होगा, लेकिन जो भी प्रणाली का अभ्यास किया जा सकता है, बछड़े को पहला दूध प्राप्त करना चाहिए जो गाय बछड़े के बाद देती है और कोलोस्ट्रम कहा जाता है। बछड़े को उसके जन्म के बाद पहले 3 दिनों के लिए प्रतिदिन 2 से 2.5 लीटर के बीच पर्याप्त मात्रा में कोलोस्ट्रम खिलाना सुनिश्चित करें। </p>
              <p align="justify" class="style14">किसी भी अतिरिक्त कोलोस्ट्रम को सामान्य रूप से खिलाए गए पूरे दूध की मात्रा के बराबर मात्रा में झुंड में अन्य बछड़ों को खिलाया जा सकता है। &nbsp;यदि संभव हो तो जहां एक गाय को बछड़े से पहले दूध पिलाया जाता है, बाद में बछड़े को खिलाने के लिए कुछ कोलोस्ट्रम फ्रीज करें।&nbsp; इसमें से कोई भी व्यर्थ नहीं जाना चाहिए।&nbsp;कोलोस्ट्रम की पाचनशक्ति बढ़ जाती है जब इसे 99oF और 102oF के बीच के तापमान पर दिया जाता है। निम्नलिखित गुणों से कोलोस्ट्रम के महत्व को और अधिक महसूस किया जा सकता है।</p>
            <p align="justify" class="style14">कोलोस्ट्रम के प्रोटीन में सामान्य दूध की तुलना में ग्लोब्युलिन का अनुपात बहुत अधिक होता है। ग्लोब्युलिन को एंटीबॉडी का स्रोत माना जाता है जो पशु को जन्म के बाद प्रभावित होने वाले कई संक्रमणों से बचाने में सहायता करता है। गामा - नवजात बछड़ों के रक्त सीरम में ग्लोब्युलिन का स्तर जन्म के समय केवल 0.97 mg/ml होता है। &nbsp;यह पहले कोलोस्ट्रम को 12 घंटे पर खिलाने के बाद 16.55 mg/ml स्तर तक बढ़ जाता है और बाद में दूसरे दिन 28.18 mg/ml की चोटी दिखाता है। .&nbsp;यह स्तर कमोबेश तब तक बना रहता है जब तक कि बछड़े का रेटी-कुलोएंडोथेलियल सिस्टम एंटीबॉडी बनाने के लिए काम करना शुरू नहीं कर देता।</p></td>
            <td class="style14"><img src="{%static 'img/Colustrum Feeding.jpg' %}" width="330" height="280" alt="Colustrum" style="border-radius:10px"/></td>
          </tr>
        </table>
      
        <div align="justify">
          <ul class="style14">
            <li>
             कोलोस्ट्रम की प्रोटीन सामग्री सामान्य दूध की तुलना में 3 से 5 गुना अधिक होती है। यह कुछ ऐसे पदार्थों में भी समृद्ध है, जिनमें तांबा, लोहा, मैग्नीशियम और मैंगनीज महत्वपूर्ण हैं।
            </li>
            <li>
             कोलोस्ट्रम में सामान्य दूध में पाए जाने वाले विटामिन ए की मात्रा का 5-15 गुना होता है, जो आराम की अवधि के दौरान मां को दिए जाने वाले राशन की प्रकृति पर निर्भर करता है।
            </li>
            <li>
             कोलोस्ट्रम कई अन्य विटामिनों की काफी अधिक मात्रा में दूध से भी बेहतर होता है, जो कि राइबोफ्लेविन, कोलीन, थायमिन और पैंटोथेनिक एसिड सहित डेयरी बछड़ों के विकास में आवश्यक पाए गए हैं।
            </li>
            <li>
              कोलोस्ट्रम मल के पाचन तंत्र को मुक्त करने के लिए एक रेचक के रूप में कार्य करता है।
            </li>
          </ul>
        </div>
        <hr size="1" color="#3366FF"/>
        <p align="right" class="style14"><strong><a href="#top">Top</a></strong></p>
        <p align="justify" class="style49"><strong>पूरा दूध पिलाना</strong></p>
        <p align="justify" class="style14">          पूरे दूध को खिलाने में, बछड़ों को भोजन कार्यक्रम के अनुसार खिलाया जा सकता है। & nbsp; पूरा दूध पिलाते समय निम्नलिखित बातों का ध्यान रखना चाहिए।</p>
        <div align="justify">
          <ul>
            <li class="style14">
              <div align="left">जहां तक ​​हो सके बछड़े की मां का दूध पिलाएं.</div>
            </li>
            <li class="style14">
              <div align="left">दूध निकालने के तुरंत बाद उसे दूध पिलाएं।</div>
            </li>
            <li class="style14">
              <div align="left">दूध की कुल मात्रा 7 दिन की आयु तक 3 या 4 बराबर अंतराल पर और फिर दिन में दो बार पिलाई जा सकती है।</div>
            </li>
          </ul>
        </div>
        <p align="justify" class="style49"><strong>मलाई रहित दूध पिलाना</strong></p>
        <p align="justify" class="style14">          कई खेतों में, बछड़ों और अन्य पशुओं को खिलाने के लिए बड़ी मात्रा में अलग किया हुआ दूध उपलब्ध होता है।&nbsp; उत्कृष्ट डेयरी बछड़ों को उनकी उम्र के दो सप्ताह के बाद धीरे-धीरे पूरे दूध से बदलकर बड़ा किया जा सकता है।&nbsp;&nbsp; यहां फिर से फीडिंग शेड्यूल का पालन करना चाहिए।</p>
        <p align="justify" class="style49"><strong>सूखा मलाई रहित दूध, छाछ या छाछ खिलाना</strong></p>
        <p align="justify" class="style14">          उपरोक्त सूखे उत्पादों को 1 किलो से 9 किलो पानी की दर से पानी में मिलाया जाता है और फिर इसे मलाई रहित दूध के रूप में खिलाया जाता है।&nbsp; पाचन संबंधी समस्याओं से बचने के लिए मिश्रण को हमेशा बछड़ों को 100°F तक गर्म करने के बाद ही पिलाना चाहिए।</p>
        <table width="100%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="left" valign="top"><p align="justify" class="style49"><strong>बछड़े को दूध पिलाने की शुरुआत</strong></p>
            <p align="justify" class="style14"> बछड़ा स्टार्टर एक मिश्रण है जिसमें जमीन के खेत के अनाज, प्रोटीन फ़ीड और खनिज, विटामिन और एंटीबायोटिक शामिल हैं। &nbsp;एक बछड़ा 2 सप्ताह की आयु प्राप्त करने के बाद उसे दिए जाने वाले पूरे दूध की मात्रा में कटौती की जा सकती है।&nbsp; फिर प्रत्येक दूध पिलाने के बाद कुछ दिनों तक बछड़े के मुंह पर स्टार्टर की थोड़ी मात्रा रगड़ें, जब बछड़ा इसका आदी हो जाएगा।&nbsp; जब वे चार महीने के हो जाते हैं, तब बछड़ों को &quot;बढ़ते&quot; अनाज राशन।</p>
            <p align="justify" class="style49"><strong>अनाज का मिश्रण खिलाना</strong></p>
            <p align="justify" class="style14">            बछड़े द्वारा अनाज और दूध के सेवन से बछड़े की बीमारियों के लिए बेहतर विकास और अधिक प्रतिरोध तब होता है जब बछड़े को केवल दूध पिलाया जाता है।&nbsp; 7-15 दिनों की उम्र में अनाज के मिश्रण को खिलाना शुरू किया जा सकता है।&nbsp; बछड़ों को अनाज के मिश्रण का आदी बनाने के लिए, इस्तेमाल की गई बाल्टी में एक छोटा मुट्ठी अनाज का मिश्रण रखें।&nbsp; जैसे ही बछड़ा अपना दूध खत्म कर रहा होता है, वह दूध के एक हिस्से का सेवन कर सकता है, या दूध पिलाने के तुरंत बाद हाथ में थोड़ा सा चढ़ा सकता है।</p></td>
            <td align="left" valign="top"><p align="center" class="style14"><img src="{%static 'img/Feeding of calves.jpg' %}" width="280" height="225" alt="Feeding Calves" style="border-radius:10px" /><br />
            <span class="style49">बछड़ों का भोजन</span></p></td>
          </tr>
        </table>
        <hr size="1" color="#3366FF"/>
        <p align="right" class="style14"><strong><a href="#top">Top</a></strong></p>
        <p align="left" class="style14"><strong>तालिका 1.&nbsp; 6 महीने तक के बछड़ों को दूध पिलाने का कार्यक्रम </strong></p>
        <div align="center">
          <table width="80%" border="1" cellpadding="0" cellspacing="0">
            <tr>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F65FDE" class="style14"><strong>बछड़े की उम्र </strong></td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F65FDE" class="style14"><strong>लगभग शरीर का वजन (किलो)</strong></td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F65FDE" class="style14"><strong>दूध की मात्रा (किलो) </strong></td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F65FDE" class="style14"><strong>बछड़ा स्टार्टर की मात्रा (ग्राम)</strong></td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F65FDE" class="style14"><strong>हरी घास (किलो) </strong></td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">4 दिन से 4 सप्ताह </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">25</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">2.5</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">कम मात्रा.</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">कम मात्रा.</td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">4-6 सप्ताह  </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">30</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">3.0</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">50-100</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">कम मात्रा.</td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">6-8 सप्ताह </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">35</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">2.5</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">100-250</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">कम मात्रा.</td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">8-10 सप्ताह  </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">40</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">2.0</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">250-350</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">कम मात्रा.</td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">10-12 सप्ताह  </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">45</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">1.5</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">350-500</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">1-0</td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">12-16 सप्ताह  </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">55</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">-</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">500-750</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">1-2</td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">16-20 सप्ताह  </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">65</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">-</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">750-1000</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">2-3</td>
            </tr>
            <tr>
              <td width="118" height="25" align="left" valign="middle" bgcolor="#F5FDE6" class="style14">20-24 सप्ताह  </td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">75</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">-</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">1000-1500</td>
              <td width="118" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">3-5</td>
            </tr>
          </table>
        </div>
        <p align="justify" class="style14"><br />
          बछड़ा स्टार्टर एक अत्यधिक पौष्टिक सांद्र मिश्रण है जिसमें इष्टतम विकास के लिए आवश्यक सभी पोषक तत्व उचित अनुपात में होते हैं और बछड़ों के राशन में पूरे दूध के आंशिक विकल्प के रूप में उपयोग किया जाता है। चूंकि बछड़ों के लिए प्रोटीन की गुणवत्ता तब तक बहुत महत्वपूर्ण होती है जब तक कि उनका रूमेन पूरी तरह से कार्य नहीं कर लेता, पशु प्रोटीन की खुराक जैसे मछली के भोजन को बछड़े की शुरुआत में शामिल किया जाना चाहिए। बछड़े की शुरुआत में यूरिया को शामिल नहीं किया जाना चाहिए।
</p>
          <hr size="1" color="#3366FF"/>
        <p align="right" class="style14"><strong><a href="#top">Top</a></strong></p>
<p align="justify" class="style49"><strong>बढ़ते जानवरों को खिलाना (6 महीने के बाद से)</strong></p>
        <p align="justify" class="style14">          एक वर्ष से कम उम्र के बछड़ों के लिए यह हमेशा वांछनीय होता है कि अच्छे रौगे के अलावा पर्याप्त सांद्रण दिया जाए ताकि वे इष्टतम विकास कर सकें। एक वर्ष से अधिक उम्र के बछड़ों के मामले में उच्च गुणवत्ता वाले रौगे पर फ़ीडिंग सांद्रता को काफी कम किया जा सकता है। बिना किसी अनुचित वसा जमाव के इष्टतम विकास प्राप्त करने के लिए रौगेज और सांद्रण का विवेकपूर्ण मिश्रण आवश्यक है। छह महीने के बाद से, बछड़ों को उसी प्रकार का सांद्र मिश्रण (14-16% डाइजेस्टिबल क्रूड प्रोटीन और लगभग 70% टोटल डाइजेस्टिबल न्यूट्रिएंट्स) दिया जा सकता है, जैसा कि वयस्क मवेशियों के लिए इस्तेमाल किया जाता है। सांद्र मिश्रण के उदाहरण अलग से दिए गए हैं। </p>
        <p align="left" class="style14"><strong>तालिका 2.   6 महीने के बाद से बढ़ते हुए पशुओं का आहार कार्यक्रम </strong></p>
        <div align="center">
          <table width="680" border="1" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="145" height="25" align="center" valign="middle" bgcolor="#ADD8E6" class="style14"><strong>आयु (महीने)</strong></td>
              <td width="196" height="25" align="center" valign="middle" bgcolor="#ADD8E6" class="style14"><strong>अनुमानित शरीर का वजन (किलो) </strong></td>
              <td width="177" height="25" align="center" valign="middle" bgcolor="#ADD8E6" class="style14"><strong>मिश्रण (किलो) </strong></td>
              <td width="152" height="25" align="center" valign="middle" bgcolor="#ADD8E6" class="style14"><strong>घास (किलो) </strong></td>
            </tr>
            <tr>
              <td width="145" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">6-9</td>
              <td width="196" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">70-100</td>
              <td width="177" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">1.5-1.75</td>
              <td height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">5-10</td>
            </tr>
            <tr>
              <td width="145" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">9-15</td>
              <td width="196" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">100-150</td>
              <td width="177" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">1.75-2.25</td>
              <td height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">10-15</td>
            </tr>
            <tr>
              <td width="145" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">15-20</td>
              <td width="196" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">150-200</td>
              <td width="177" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">2.25-2.50</td>
              <td height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">15-20</td>
            </tr>
            <tr>
              <td width="145" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">20  से ऊपर</td>
              <td width="196" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">200-300</td>
              <td width="177" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">2.50-2.75</td>
              <td height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">15-20</td>
            </tr>
          </table>
          <em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em> </div>
      
        </div>
        <table width="100%">
          <tr>
            <td width="65%"><p align="left" class="style14"><strong>Table 4. Feeding schedules for dairy animals  (Quantity in kg.)</strong></p>
<div align="center">
                <table border="1" cellspacing="0" cellpadding="0" width="80%">
                  <tr>
                    <td width="52" height="25" align="center" valign="middle" bgcolor="#9ED59D" class="style14"><strong>क्रमांक </strong></td>
                    <td width="139" height="25" align="center" valign="middle" bgcolor="#9ED59D" class="style14"><strong>पशु का प्रकार </strong></td>
                    <td width="129" height="25" align="center" valign="middle" bgcolor="#9ED59D" class="style14"><strong>भोजन के दौरान </strong></td>
                    <td width="109" height="25" align="center" valign="middle" bgcolor="#9ED59D" class="style14"><strong>हरा </strong><strong>चारा </strong></td>
                    <td width="108" height="25" align="center" valign="middle" bgcolor="#9ED59D" class="style14"><strong>सूखा </strong> <strong>चारा </strong></td>
                    <td width="128" height="25" align="center" valign="middle" bgcolor="#9ED59D" class="style14"><strong>मिश्रण</strong></td>
                  </tr>
                  <tr>
                    <td height="25" colspan="6" align="left" valign="middle" bgcolor="#E6E6FA	" class="style14"><strong>(ए) क्रॉस ब्रीड गाय</strong></td>
                  </tr>
                  <tr>
                    <td width="52" height="25" rowspan="2" align="center" valign="top" bgcolor="#F5FDE6" class="style14">1.</td>
                    <td width="139" height="25" rowspan="2" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">6 से 7 लीटर दूध<br />
                      प्रति दिन</td>
                    <td width="129" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">स्तनपान के दिन</td>
                    <td width="109" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">20 to 25 </td>
                    <td width="108" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">5 to 6</td>
                    <td width="128" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">3.0 to 3.5 </td>
                  </tr>
                  <tr>
                    <td width="129" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">शुष्क दिन</td>
                    <td width="109" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">15 to 20</td>
                    <td width="108" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">6 to 7</td>
                    <td width="128" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">0.5 to 1.0</td>
                  </tr>
                  <tr>
                    <td width="52" height="25" rowspan="2" align="center" valign="top" bgcolor="#F5FDE6" class="style14">2.</td>
                    <td width="139" height="25" rowspan="2" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">8 से 10 लीटर दूध<br />
                      प्रति दिन</td>
                    <td width="129" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">स्तनपान के दिन</td>
                    <td width="109" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">25 to 30</td>
                    <td width="108" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">4 to 5 </td>
                    <td width="128" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">4.0 to 4.5 </td>
                  </tr>
                  <tr>
                    <td width="129" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">शुष्क दिन</td>
                    <td width="109" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">20 to 25 </td>
                    <td width="108" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">6 to 7</td>
                    <td width="128" height="25" align="center" valign="middle" bgcolor="#F5FDE6" class="style14">0.5 to 1.0</td>
                  </tr>
                </table>
            </div>
<p><em><strong>(Source:  National Dairy Development Board) </strong></em></p></td>
            <td width="35%"><img src="{%static 'img/cattlefeeding1.jpg' %}" width="360" height="260" alt="feeding" style="border-radius:5%" /></td>
          </tr>
        </table>
    
        <hr size="1" color="#3366FF"/>
        <p align="right" class="style14"><strong><a href="#top">Top</a></strong></p>
        <table width="100%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td width="76%" align="left" valign="top"><p align="justify" class="style49"><strong>दूध पिलाने वाली गाय को खिलाना </strong></p>
            <p align="justify" class="style14"> दुधारू पशुओं के उचित आहार में पोषक तत्वों की न्यूनतम बर्बादी और उत्पादित दूध के संबंध में अधिकतम लाभ की परिकल्पना की जानी चाहिए। </p>
            <p align="justify" class="style14">आम तौर पर तेल केक, ऊर्जा स्रोत जैसे अनाज अनाज (मक्का, ज्वार), टैपिओका चिप्स और रेचक फ़ीड जैसे चोकर (चावल की भूसी, गेहूं की भूसी, चने की भूसी) जैसे प्रोटीन सप्लीमेंट से बना एक केंद्रित मिश्रण का उपयोग किया जाता है।</p>
            <p align="justify" class="style14">प्रमुख और सभी ट्रेस तत्वों वाले खनिज मिश्रण को 2 प्रतिशत के स्तर पर शामिल किया जाना चाहिए।</p></td>
            <p align="justify" class="style14">मवेशियों की कुल शुष्क पदार्थ की आवश्यकता उनके शरीर के वजन का लगभग 2-3% होती है, हालांकि उच्च उपज वाले जानवर 3% से अधिक की दर से खा सकते हैं। जलवायु, फ़ीड का प्रसंस्करण, स्वादिष्टता आदि जैसे कारक शुष्क पदार्थ की खपत को प्रभावित करते हैं। सूखे पदार्थ के आधार पर कम से कम 6% कच्चे प्रोटीन के साथ अच्छी गुणवत्ता वाली घास (गिनी, नेपियर आदि) अकेले औसत आकार की गाय का रखरखाव राशन बना सकती है। लेकिन घास-फलियां चारे से दूध उत्पादन को 3-4 किलो तक बनाए रखना संभव है।</p>
            <td width="24%" align="center" valign="top" class="style14"><img src="{%static 'img/lactating.jpg' %}" width="235" height="180" align="middle" style="border-radius:10px"/><strong>&nbsp;</strong><strong>दूध पिलाने वाली गायों को खिलाना</strong>            </td>
          </tr>
        </table>
        </div>
        <hr size="1" color="#3366FF"/>
        <p align="right" class="style14"><strong><a href="#top">Top</a></strong></p>
<p align="left" class="style49"><strong>बैलों को खाना खिलाना</strong></p>
        <p align="left" class="style14">          नर बछड़ों को भविष्य में प्रजनन करने वाले बैल के रूप में पाला जाना चाहिए, उन्हें मादा बछड़ों की तुलना में पोषण के उच्च स्तर पर खिलाया जाना चाहिए।<br />
          <br />
        <strong>तालिका 6. सांड को खिलाने का कार्यक्रम</strong></p>
        <div align="center">
          <table border="1" cellspacing="0" cellpadding="0">
            <tr>
              <td width="197" height="26" align="center" valign="middle" bgcolor="#ADD8E6" class="style14"><strong>शरीर का वजन (किलो) </strong></td>
              <td width="197" align="center" valign="middle" bgcolor="#ADD8E6" class="style14"><strong>मिश्रण (किलो)</strong></td>
              <td width="197" align="center" valign="middle" bgcolor="#ADD8E6" class="style14"><strong>हरी घास (किलो) </strong></td>
            </tr>
            <tr>
              <td width="197" height="32" align="center" valign="middle" bgcolor="#E6E6FA	" class="style14">400-500</td>
              <td width="197" align="center" valign="middle" bgcolor="#E6E6FA" class="style14">2.5-3</td>
              <td width="197" align="center" valign="middle" bgcolor="#E6E6FA" class="style14">20-25</td>
            </tr>
          </table>
        </div>
        <p align="justify" class="style14">सेवा में एक बैल को पर्याप्त सांद्रता के साथ अच्छी गुणवत्ता वाला रौगे दिया जाना चाहिए। बहुत अधिक चारा खिलाने से बचना चाहिए क्योंकि यह बैल को छोटा और सेवा में धीमा बनाता है। एक बड़ा सांद्र भत्ता बैल को बहुत अधिक वसायुक्त और कम पौरुष बना सकता है।</p>
  <p align="justify" class="style44"><span class="style49"><strong>मैटरनिटी पेन या कैल्विंग बॉक्स</strong></span></p>
  <p align="justify" class="style44"><span class="style49">    बड़े खेतों में प्रसव के करीब गायों के लिए बछड़े की व्यवस्था की जाती है। गायों को ब्याने की अपेक्षित तिथि से 2-3 सप्ताह पहले इन कलमों में स्थानांतरित कर दिया जाता है। प्रत्येक बछड़ा कलम कवर क्षेत्र के लिए लगभग 3x4 मीटर और खुले पैडॉक के लिए 4x5 मीटर होना चाहिए। प्रत्येक पेन में उचित आकार का एक चरनी और जलकुंड का निर्माण किया जाना चाहिए। आच्छादित क्षेत्र में चारों ओर 1.25 मीटर ऊंची दीवारें होंगी। खुले लॉट में खुलने वाला 1.2 मीटर चौड़ा गेट भी प्रदान किया गया है। फर्श सीमेंट या ईंट के किनारे पर नाली की ओर ढलान के साथ होना चाहिए। बड़े खेतों में बछड़े के बक्सों के सदस्य की आवश्यकता होती है। संख्या का लगभग 5% है। खेत में नस्ल सक्षम स्टॉक का। ये पेन गर्भवती पंक्तियों की निगरानी के लिए किसान <em>/ </em>दूध देने वाले खलिहान के पास स्थित हैं। रोशनी की पर्याप्त व्यवस्था की जाए।</span></p>
        <p align="left" class="style44"> <strong> पोषक तत्वों की आवश्यकता</strong></p>
        <p align="left" class="style44">दुधारू पशुओं को खिलाने के टिप्स</p>
        <ul class="style14">
          <li>
            उत्पादन आवश्यकताओं के अनुसार व्यक्तिगत रूप से ध्यान केंद्रित किया जाना चाहिए।
          </li>
          <li>
            अच्छी गुणवत्ता वाला रौगेज सांद्रों की बचत करता है। लगभग 20 किलो घास (गिनी, नेपियर, आदि) या 6-8 किलो फलियां चारा (लोबिया, ल्यूसर्न) प्रोटीन सामग्री के मामले में 1 किलो सांद्र मिश्रण (0.14-0.16 किलोग्राम डीसीपी) की जगह ले सकता है।
          </li>
          <li>
            खिलाने में नियमितता का पालन किया जाना चाहिए। सांद्र मिश्रण को दूध देने से पहले या अधिमानतः खिलाया जा सकता है &ndash; आधा सुबह और दूसरा आधा शाम को &ndash; दो दूध देने से पहले। आधा रौघे का राशन पशुओं को पानी पिलाकर और सफाई कर पूर्वाह्न में खिलाया जा सकता है। शेष आधा भाग शाम को दूध पिलाने और पानी पिलाने के बाद दिया जाता है। अधिक उपज देने वाले पशुओं को दिन में तीन बार (रौघे और सांद्रण दोनों) खिलाया जा सकता है। कॉन्संट्रेट फीडिंग की आवृत्ति बढ़ाने से रूमेन की सामान्य गतिशीलता और दूध में वसा के इष्टतम स्तर को बनाए रखने में मदद मिलेगी।
          </li>
          <li>
           अधिक मात्रा में भोजन करने से अपच और अपच हो सकता है।
          </li>
          <li>
           फ़ीड में अचानक बदलाव से बचना चाहिए।
          </li>
          <li>
           मवेशियों को खिलाने से पहले अनाज को जमीन से मध्यम डिग्री तक बारीक होना चाहिए। 
          </li>
          <li>
           नेपियर जैसे लंबे और मोटे तने वाले चारे को काटकर खिलाया जा सकता है।
          </li>
          <li>
           अत्यधिक नम और कोमल घासों को खिलाने से पहले मुरझाया जा सकता है या पुआल के साथ मिलाया जा सकता है। सूजन और अपच की घटना को रोकने के लिए फलीदार चारे को पुआल या अन्य घास के साथ मिलाया जा सकता है।
          </li>
          <li>
            साइलेज और अन्य चारा, जो दूध को स्वाद प्रदान कर सकते हैं, दूध देने के बाद खिलाया जा सकता है। सांद्र मिश्रण को मैश के रूप में पानी से सिक्त किया जा सकता है और तुरंत खिलाया जा सकता है। छर्रों को इस तरह खिलाया जा सकता है।
          </li>
          <li>
            सभी फ़ीड को अच्छी तरह हवादार और सूखे स्थानों में ठीक से संग्रहित किया जाना चाहिए। फफूंदी या अन्यथा क्षतिग्रस्त चारा नहीं खिलाया जाना चाहिए। 
          </li>
          <li>
            अधिक उपज देने वाले पशुओं के लिए शुष्क पदार्थ के आधार पर इष्टतम सांद्र रौघे अनुपात 60:40 होना चाहिए।
          </li>
        </ul>
        <hr size="1" color="#3366FF"/>
        <p align="right" class="style14"><strong><a href="#top">Top</a></strong></p>
        <p align="left" class="style49"><strong>घास खिलाना और घास का भंडारण </strong><strong>(Diet for Cows)</strong></p>
        <div align="center">
         
        </div>
        <p align="justify" class="style14">जैसा कि ऊपर उल्लेख किया गया है, गायों की पोषण संबंधी जरूरतों के बारे में अधिकांश सिफारिशें पशु कृषि से आती हैं- किसी उत्पादन सेटिंग के बाहर के व्यक्तियों पर केंद्रित विशेषज्ञ सिफारिशों को खोजना मुश्किल हो सकता है, विशेष रूप से ऐसे व्यक्ति जिन्हें उस उम्र से पहले जीने की अनुमति दी जाती है जिस पर उनका आमतौर पर वध किया जाता है। एक कृषि सेटिंग में। एक गाय की जरूरत की घास की मात्रा सूखे पदार्थ के आधार पर निर्धारित की जाती है ("शुष्क पदार्थ" का अर्थ है कि यदि सारी नमी हटा दी जाए तो क्या रहेगा)। जबकि कुछ व्यक्तियों की विशिष्ट आहार संबंधी ज़रूरतें हो सकती हैं, या आपके पशु चिकित्सक की विशिष्ट सिफारिशें हो सकती हैं, खासकर यदि वजन घटाने का लक्ष्य है, तो यह अनुमान लगाना कि प्रत्येक गाय निवासी अपने शरीर के वजन का 3% प्रत्येक दिन शुष्क पदार्थ में उपभोग करेगा, एक अच्छा प्रारंभिक बिंदु है। कि उनकी घास अच्छी गुणवत्ता की है।</p>
        <p align="justify" class="style14">घास की अनुपस्थिति में भूसा रौगे का निर्माण कर सकता है और ऐसे मामलों में रखरखाव के लिए सांद्र दिया जाना चाहिए। स्तनपान कराने वाली गायों के लिए, प्रत्येक &nbsp;2.5 &ndash; रखरखाव भत्ते के अलावा 3.0 किलो दूध। प्रसव के बाद गाय को उसी प्रकार का चारा और उतनी ही मात्रा में देना चाहिए जितना पहले था और एसिडोसिस, अपच आदि जैसी पाचन समस्याओं से बचने के लिए ध्यान भत्ता धीरे-धीरे बढ़ाया जाना चाहिए। </p>
        <p align="justify" class="style14">वृद्धि की जरूरतों को पूरा करने के लिए चार साल से कम उम्र की युवा क्रॉस-ब्रेड गायों के मामले में, पहले स्तनपान में जानवरों के लिए 1 किग्रा और दूसरे स्तनपान में 0.5 किग्रा की दर से अतिरिक्त सांद्र भत्ता देना वांछनीय है। रखरखाव और उत्पादन की जरूरत है। दूध देने वाले जानवरों को हमेशा स्वच्छ पीने का साफ पानी उपलब्ध होना चाहिए।</p>
        </div>

        <div>
        <p align="left" class="style49"><strong>घास भंडारण</strong></p>
        <div align="center">
        <p align="justify" class="style14">घास का उचित भंडारण महत्वपूर्ण है। यदि आपके पास स्टोर करने के लिए बड़ी मात्रा में घास है, तो एक अलग घास भंडारण क्षेत्र जाने का रास्ता हो सकता है। यदि आप उपकरण का उपयोग किए बिना घास खिला रहे हैं, जैसे कि छोटी गांठों के मामले में, तो आपके गाय निवासियों के खलिहान या भोजन क्षेत्र के अंदर, या तो एक कील क्षेत्र या घास के मचान में घास को संग्रहीत करना अधिक सुविधाजनक हो सकता है, लेकिन ध्यान रखें वह घास एक संभावित आग जोखिम है। निवासी संरचनाओं के अंदर बड़ी मात्रा में घास का भंडारण करना सबसे सुरक्षित अभ्यास नहीं है क्योंकि घास संभावित रूप से सहज दहन (नीचे देखें) के कारण आग लग सकती है या एक अलग स्रोत से शुरू होने वाली आग को ईंधन दे सकती है।</p>
        </div>
        <hr size="1" color="#3366FF"/>
        <p align="right" class="style14"><strong><a href="#top">Top</a></strong></p>
         </tr>
 <tr>
      <td colspan="3" valign="top" style="line-height:40%;" bgcolor="#6b3010"><!--DWLayoutEmptyCell-->&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" valign="top" class="style16"> <div align="center">
        <p></p>
      </div></td>
    </tr>
  </table>
</div>
</body>
</html>