{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cattle Diseases</title>
<style type="text/css">
<!--
.jfy{text-align:justify;}
.style2 {font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #FF6633; }
.style3 {color: #FF3300}
.style12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.style16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #663300;
}
.style22 {color: #009900}
.Style13 {font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
.style29 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.bor
{
	border-right:1px solid #2BA6BB;
	vertical-align:top;
	line-height:1.6;
	padding-left:8px;
}
.style32 {font-size: 14px}
.style36 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #FFFFFF; }
.style43 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #009900;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
}
a:link {
	color: #000000;
	text-decoration: none;
}
.style221 {color:#600;}
.tabmenu {	font-size:13px;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="980" border="0" cellpadding="0" cellspacing="0">
    <!--DWLayoutTable-->
    
    <tr>
      <td colspan="2" valign="top"><img src="{% static 'img/cow.jpeg' %}" alt="" width="980" height="280" border="0" usemap="#Map" />
        <map name="Map" id="Map">
          <area shape="rect" coords="645,84,697,103" href="#" />
          <area shape="rect" coords="709,86,750,106" href="http://Diseases.html" />
      </map></td>
    </tr>
   <tr>
      <td width="650" height="55" align="center" valign="middle" bgcolor="#7FFF00"><font color="#000000" size="3"><strong> पशुधन : मवेशी : रोग</strong></font></td>
      <td width="329" height="25" colspan="2" align="center" valign="middle"><a href="animhus_index.html" ></a>
      <input type="hidden" name="cx2" value="006946231307976124146:qlhbhb-aevy" />
      <input type="hidden" name="ie2" value="UTF-8" />
    </tr>
    <tr>
      <td width="520" colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2" align="left" valign="top"><p align="left"><strong>मवेशियों के रोग</strong></p>

        
        <table width="100%">
          <tr>
            <td align="left" valign="top"><p><strong>बिसहरिया </strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>

 	     <p align="justify"><em>बी.एंथ्रेसी</em> जानवरों में एंथ्रेक्स का कारण बनता है।. <em>बैसिलस एन्थ्रेसिस</em> बीजाणु मिट्टी, पानी और जानवरों की खाल और उत्पादों में कई वर्षों तक व्यवहार्य रहते हैं।. एंडोस्पोर्स के प्रवेश के मुख्य मार्ग अंतर्ग्रहण द्वारा, चराई के समय मिट्टी से या दूषित भोजन में और घावों के संक्रमण से होते हैं।मवेशी, भेड़ और बकरियां संक्रमण के लिए सबसे अधिक संवेदनशील हैं। <br />
            </p>

              <p><strong>Symptoms  (लक्षण) </strong></p>
              <ul type="disc" class="jfy">
                <li>पेराक्यूट सेप्टिसीमिया में पशु के ऐंठन के साथ गिरने के 2 घंटे के भीतर मृत्यु हो जाती है, सामान्य दिखने वाले जानवरों में अचानक मृत्यु आम है। </li>
				

                <li>तीव्र सेप्टिसीमिया में मृत्यु 48 से 96 घंटों के भीतर होती है नैदानिक ​​​​लक्षणों में बुखार, एनोरेक्सिया, रुमिनल स्टेसिस, हेमट्यूरिया और रक्त-युक्त दस्त शामिल हैं।</li>
                <li>गर्भवती पशुओं का गर्भपात हो सकता है और दूध का उत्पादन अक्सर अचानक कम हो जाता है।</li>
                <li>टर्मिनल संकेतों में गंभीर अवसाद, श्वसन संकट और आक्षेप शामिल हैं। </li>
              </ul>
            <p><strong>रोकथाम और नियंत्रण</strong></p>
            <ul type="disc">
              <li>जानवरों में एंथ्रेक्स की रोकथाम सक्रिय टीकाकरण द्वारा सहायता प्राप्त है। जीव पेनिसिलिन-जी, टेट्रासाइक्लिन, एरिथ्रोमाइसिन और क्लोरैम्फेनिकॉल के लिए अतिसंवेदनशील है। </li>
            </ul></td>
            <td align="left" valign="top"><img src="{% static 'img/anthrax1.jpg' %}" width="280" height="240" alt="anthrax" style="border-radius:5%"/></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><p><strong>रक्तस्रावी सेप्टेसेमिया</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
<p><em>पाश्चरेला मल्टीकोडा </em>लक्षण</strong></p>
              <ul type="disc" class="jfy">
                <li>बुखार, दूध की उपज में अचानक गिरावट, पेट में दर्द के लक्षण, गंभीर दस्त और पेचिश, श्वसन तेज हो जाता है और मृत्यु से कुछ समय पहले श्लेष्म झिल्ली सियानोटिक दिखाई देती है।</li>
                <li>कम तीव्र मामलों में सिर, गर्दन और छाती के क्षेत्र में ओडेमा का विकास होगा। नाक से स्राव खून से सना हुआ या शुद्ध हो सकता है। मृत्यु 2-4 दिनों के भीतर होती है।</li>
              </ul>
              <p><strong>नियंत्रण और रोकथाम </strong></p>
              <ul type="disc" class="jfy">
                <li><em>पास्चरेला</em> पेनिसिलिन-जी, स्ट्रेप्टोमाइसिन, क्लोरैमफेनिकॉल, क्लोरेटेट्रासाइक्लिन, सल्फा और ट्रिपमेथोप्रिम, एनरोफ्लोक्सासिन और ऑक्सीटेट्रासाइक्लिन के लिए उपयुक्त है।</li>
                <li>टीकाकरण</li>
            </ul></td>
          </tr>
          <tr>
            <td align="left" valign="top"><p><strong>ब्लैक क्वार्टर</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
<p align="justify">&nbsp;<em>C. चौवोई</em> मवेशियों में काले भाग या काले पैर का कारण बनता है। ग्राम धनात्मक, गोल सिरों वाली छड़ के आकार का। मिट्टी और चारागाहों में विश्वव्यापी वितरण। </p>
              <p><strong>लक्षण </strong> </p>
              <p align="justify">   यह रोग आमतौर पर 6 महीने से लेकर 2-3 साल की उम्र के युवा मवेशियों में होता है। पीछे या अग्र भाग में क्रेपिटेटिव सूजन<strong> </strong>, लंगड़ापन, मांसपेशियां हिंसक मरोड़ के साथ कांपती हुई दिखाई देती हैं। मृत्यु आमतौर पर 24 घंटों के भीतर होती है।</p>
              <p><strong>नियंत्रण और रोकथाम  </strong></p>
              <ul type="disc" class="jfy">
                <li>हाइपर इम्यून सीरम (HIS) का उपयोग विस्फोटक प्रकोपों ​​​​को नियंत्रित करने के लिए किया जाता है। एचआईएस के साथ पेनिसिलिन का उपयोग बीमारी के इलाज के लिए किया जाता है। </li>
                <li>प्रारंभिक अवस्था में ऑक्सीटेट्रासाइक्लिन &amp;      क्लोरटेट्रासाइक्लिन को भी प्रभावी ढंग से नियोजित किया जा सकता है। </li>
            </ul></td>
            <td align="center" valign="middle"><img src="{% static 'img/bq.jpg' %}" width="200" height="200" alt="black quarter" style="border-radius:10%"/></td>
          </tr>
          <tr>
            <td align="left" valign="top"><p><strong>गोजातीय क्षय रोग</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
              <p><em>माइकोबैक्टीरियम बोविस </em>कई जानवरों की प्रजातियों में गोजातीय तपेदिक का कारण बनता है और मानव में तपेदिक का भी कारण बनता है</p>
<p><strong>चिक्तिस्य संकेत</strong> </p>
              <p><strong>सामान्य रूप</strong></p>
              <p align="justify">प्रभावित जानवर विनम्र हो जाते हैं, प्रगतिशील क्षीणता, भूख में कमी, शरीर के तापमान में उतार-चढ़ाव और खुरदुरे/चिकना बाल कोट, जानवर वजन नहीं बढ़ाते हैं। ये सभी सामान्य लक्षण ब्याने के बाद स्पष्ट होते हैं। </p>
            </td>
            <td align="center" valign="middle"><img src="{% static 'img/bt.jpg' %}" width="270" height="200" alt="bovine tuberculosis" style="border-radius:5%" /></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><p><strong>श्वसन रूप</strong></p>
              <p align="justify">मौन या पैरॉक्सिस्मल खांसी विशेष रूप से सुबह जल्दी और ठंडे मौसम के दौरान। डिस्पेनिया के साथ पुरानी खाँसी, कर्कश दरारें, रेट्रोफेरीन्जियल लिम्फनोड का बढ़ना ग्रसनी रुकावट के कारण डिस्फेगिया और शोर श्वास का कारण बनता है। </p>
              <p><strong>प्रजनन रूप</strong></p>
              <p align="justify">मेट्राइटिस और प्लेसेंटा की सूजन बांझपन, गर्भपात और गर्भधारण में विफलता की ओर ले जाती है.</p>
              <p><strong>नियंत्रण और रोकथाम  </strong></p>
            <p align="justify">पशुओं के नियंत्रण कार्यक्रमों में उपचार और टीकाकरण अनुपयुक्त हैं। कई देशों में, राष्ट्रीय उन्मूलन योजनाओं के आधार के रूप में ट्यूबरकुलिन परीक्षण के बाद अलगाव और रिएक्टरों का वध लागू किया गया है।</p></td>
          </tr>
          <tr>
            <td align="left" valign="top"><p><strong>ब्रूसीलोसिस</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
              <p><br />
                <em>ब्रुसेला</em> <em>गर्भपात </em>प्रजातियां बाध्य इंट्रा सेल्युलर परजीवी हैं और&nbsp; गर्भावस्था के अंतिम तिमाही में गर्भपात का कारण</p>
              <p><strong>लक्षण</strong></p>
              <ul type="disc" class="jfy">
                <li>मवेशियों में यह रोग लगभग हमेशा <em>B.abortus</em> के कारण होता है।</li>
                <li>ऊष्मायन अवधि आमतौर पर 30 से 60 दिनों तक होती है।</li>
                <li>बैक्टेरिमिया के बाद संक्रमण प्लेसेंटा में स्थानीय हो जाता है, यदि जानवर गर्भवती नहीं है, तो संक्रमण थन (इंटरस्टिशियल मास्टिटिस) में स्थानीय हो जाता है।.</li>
                <li>सांड में ऑर्काइटिस और एपिडीडिमाइटिस ।</li>
                <li>6 महीने में गर्भपात और बरकरार प्लेसेंटा कार्डिनल संकेत हैं। </li>
              </ul>
              <p><strong>नियंत्रण और रोकथाम </strong></p>
              <ul type="disc" class="jfy">
                <li>क्षीण जीवित टीके का उपयोग 4 से 12 महीने की उम्र की मादा बछड़ों में किया जाता है।</li>
                <li>सहायक जीवाणु का उपयोग बूस्टर वैक्सीन के रूप में किया जाता है। </li>
            </ul></td>
            <td align="center" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td rowspan="2" align="left" valign="top"><p><strong>वायरल रोग</strong></p>
              <p><strong>पैर और मुंह की बीमारी</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
<p align="justify">पैर और मुंह की बीमारी (एफएमडी) स्तनधारियों की सबसे संक्रामक बीमारी है और अतिसंवेदनशील क्लोवेन-खुर वाले जानवरों (मवेशी, सूअर, भेड़, बकरी और पानी भैंस) में गंभीर आर्थिक नुकसान का कारण बनती है। <strong></strong></p>
              <ul>
                <li>संचरण : सीधा संपर्क : पानी के माध्यम से : खाद : चारागाह और पशु परिचारक </li>
              </ul>
              <p align="justify"><strong>लक्षण</strong></p>
            <p align="justify">इस रोग की विशेषता पुटिकाओं (द्रव से भरे फफोले) और मुंह, नाक, टीट्स और पैरों में कटाव के रूप में होती है। शुरुआती लक्षण हैं पायरेक्सिया (39.4-40.6 डिग्री सेल्सियस), सुस्ती, एनोरेक्सिया और दूध उत्पादन में गिरावट। इन संकेतों के बाद अत्यधिक लार आती है; लार, सीरस नाक का निर्वहन; हिलना, पैर मारना या लंगड़ापन; और पुटिका (ब्लिस्टर) का बनना&nbsp; जीभ, दंत पैड, मसूड़े, नरम तालू, नथुने, थूथन, इंटरडिजिटल स्पेस, कोरोनरी बैंड और टीट्स। गर्भवती गायों का गर्भपात हो सकता है, और युवा बछड़े बिना किसी पुटिका के विकास के मर सकते हैं। FMD संक्रमण का कोर्स 2 से 3 सप्ताह का होता है। माध्यमिक संक्रमण ठीक होने में देरी कर सकता है।</p>
            <p><strong>नियंत्रण और रोकथाम: </strong></p>
            <ul>
              <li>शेड, बर्तनों, परिचारकों के कपड़ों की पूरी तरह से कीटाणुशोधन।</li>
              <li>टीकाकरण &ndash; बहुसंयोजक &ndash; एक बार &ndash; 4 महीने या टीके के प्रकार के साथ बदलता रहता है</li>
            </ul>
            <p align="justify">&nbsp;</p></td>
            <td align="center" valign="middle"><img src="{% static 'img/mouth.jpg' %}" width="250" height="170" alt="foot and mouth" style="border-radius:5%" /></td>
          </tr>
          <tr>
            <td align="center" valign="middle"><img src="{% static 'img/foot.jpeg' %}" width="250" height="170" alt="foot mouth" style="border-radius:5%" /></td>
          </tr>
          <tr>
            <td align="left" valign="top"><p><strong>मेटाबोलिक रोग</strong></p>
              <p><strong>दूध बुखार</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
<p align="justify">दूध का बुखार है&nbsp; गायों में चयापचय रोग ब्याने के तुरंत बाद। कैल्शियम के भंडार को जुटाने में विफलता और देर से गर्भावस्था में नकारात्मक कैल्शियम संतुलन के विकास के परिणामस्वरूप गायों में सीरम कैल्शियम के स्तर में गिरावट के कारण। 
              <p><strong>लक्षण</strong></p>
            <p align="justify">ब्याने के 72 घंटों में रोग बढ़ जाता है, शुरू में गायों में उत्तेजना दिखाई देती है, अंगों और सिर में पेशीय कंपन का असंयम, लेटा हुआ स्थिति में लेटी हुई स्थिति में उसका सिर पार्श्व की ओर निर्देशित होता है।&nbsp; अंतिम चरण में असामान्य तापमान,&nbsp;पुतली का फैलाव, आवेगी नाड़ी, कोमा और मृत्यु। </p>
            <p align="justify"><strong>नियंत्रण और रोकथाम</strong></p>
            <p align="justify">            विटामिन डी3 के साथ 300-400 मिलीलीटर कैल्शियम बोरोग्लुकोनेट के अंतःशिरा प्रशासन द्वारा नाटकीय वसूली इंट्रामस्क्युलर रूप से इंजेक्ट की जाती है। & frac12 का निरंतर मिश्रण; गाय के लिए एक लीटर सतह पर तैरनेवाला चूने का पानी घटना को कम कर सकता है। </p></td>
            <td align="center" valign="middle"><img src="{% static 'img/Milk fever.jpg' %}" width="250" height="190" alt="Milk Fever" style="border-radius:5%"/></td>
          </tr>
          <tr>
            <td align="left" valign="top"><p><strong> </strong><strong>Bloat</strong> : (TYMPANY)</p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
<p>                ब्लोट जुगाली करने वालों की एक बीमारी है जिसमें रूमेन और रेटिकुलम के साथ&nbsp; किण्वन की गैसें।</p>
              <p><strong>कारण</strong></p>
              <p align="justify">                ताजी फलियों के अधिक सेवन और उच्च अनाज वाले राशन को खिलाने से झागदार सूजन हो जाती है। कॉर्नकोब, शलजम और चुकन्दर द्वारा अस्थिभंग मार्ग को अवरुद्ध करके रूमेन से गैसों के सामान्य निष्कासन में बाधा मुक्त गैस ब्लोट का कारण बनती है। </p>
              <p><strong>Sलक्षण</strong></p>
              <p align="justify">प्रभावित जानवर को कोई भी सहायता प्रदान करने से पहले अचानक मृत्यु के तीव्र रूप में अचानक मृत्यु हो जाती है। गंभीर मामलों में, रुमेन का फैलाव जल्दी होता है, पार्श्व और पूरे पेट का विस्तार होता है।&nbsp; टक्कर पर बायां किनारा ड्रम जैसी ध्वनि पैदा करता है, शुरू में जानवर अक्सर उठता है और लेट जाता है, पेट पर लात मारता है और लुढ़कता भी है।&nbsp; सांस लेना मुश्किल हो जाता है और मुंह से सांस लेने, जीभ के बाहर निकलने और लार से इसका सबूत मिलता है।        </p></td>
            <td align="center" valign="middle"><img src="{% static 'img/Bloat.jpg' %}" width="250" height="190" alt="bloat" style="border-radius:5%" /></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><p align="justify"> जब पेट का विस्तार अत्यधिक हो जाता है, तो जानवर असंगठित गति का प्रदर्शन करता है, खड़े होने में असमर्थता, अचानक गिर जाता है।&nbsp; पतन और मृत्यु जल्दी होती है। क्रोनिक टायम्पनी में, पेट का फैलाव और पेट के अंदर का दबाव गंभीर नहीं होता है।&nbsp; गैस &lsquo;मुक्त&rsquo; लेकिन मार्ग में रुकावट के कारण इसे बनाए रखा जाता है जिससे गैसों के सामान्य उच्छेदन को रोका जा सके। </p>
<p><strong>निदान</strong></p>
              <p> <strong> </strong>प्रभावित पशु के पेट फूलने और कष्ट के लक्षण के आधार पर।</p>
              <p><strong>नियंत्रण और उपचार</strong></p>
            <p align="justify"> तीव्र मामलों में गैसों को बाहर निकालने के लिए रूमेन को तेज चाकू से या ट्रोकार और कैनुला से पंचर करें।&nbsp; 60 मिलीलीटर तारपीन के तेल को एक लीटर मूंगफली के तेल या जिंजेली तेल या नारियल के तेल के साथ मिलाकर मौखिक रूप से लें। छह से आठ घंटे के बाद अदरक का चूर्ण 30 ग्राम, हींग 30 ग्राम, गुड़ में अच्छी तरह मिलाकर सेवन करें। ताजी फलियों को सुखाकर उन्हें रुके हुए जानवरों को खिलाना चाहिए।&nbsp; सूजन से बचने के लिए मवेशियों को आलीशान चरागाह में बदलने से पहले सूखा चारा खिलाएं।</p></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><p><strong>मास्टिटिस</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
              <p><strong>Introduction </strong></p>
              <ul type="disc" class="jfy">
                <li>मास्टिटिस स्तन ग्रंथि की सूजन है। जिसमें दूध भौतिक, रासायनिक और सूक्ष्मजीवविज्ञानी परिवर्तनों से गुजरता है, जबकि स्तन ग्रंथियों के ऊतकों में शारीरिक और रोग संबंधी परिवर्तन होते हैं। जिसमें संक्रमित दूध का रंग, स्थिरता बदल जाती है और ल्यूकोसाइट्स की मात्रा अधिक होती है। </li>
              </ul>
              <p><strong>Etiology </strong></p>
              <ul type="disc" class="jfy">
                <li>मास्टिटिस मुख्य रूप से स्टैफिलोकोकस, स्ट्रेप्टोकोकस और कोलीफॉर्म बैक्टीरिया के कारण होता है और कम महत्वपूर्ण रूप से अन्य जीवों जैसे कि अन्य बैक्टीरिया, वायरस और कवक के कारण होता है।</li>
              </ul>
              <p><strong>चिक्तिस्य संकेत</strong></p>
              <ul type="disc" class="jfy">
                <li>प्रति तीव्र रूप: पायरेक्सिया, एनोरेक्सिया, श्वसन संकट, सूजन, गर्म और दर्दनाक थन। दुग्ध उत्पादन बंद करना। एक्सयूडेट अक्सर खून के धब्बे होते हैं।</li>
                <li>तीव्र रूप: सूजे हुए थन, दूध की गुणवत्ता में परिवर्तन। दूध दही जैसा बन जाता है, गुच्छे और थक्कों के साथ पीले, भूरे रंग का तरल पदार्थ। </li>
                <li>अर्धजीर्ण रूप: थन ऊतक में कोई परिवर्तन नहीं।</li>
                <li>जीर्ण रूप: थन रक्तस्रावी और रेशेदार होता है। सूजा हुआ और स्पष्ट सुप्रा स्तन ग्रंथि लिम्फनोड,। थन गाढ़ा, दृढ़, गांठदार और एट्रोफिक, पीले या सफेद तरल पदार्थ होता है जिसमें थक्के और गुच्छे होते हैं।</li>
              </ul>
              <p><strong>Treatment </strong></p>
              <ul type="disc" class="jfy">
                <li>संक्रमित जगह से दूध निकालना&nbsp; सामान्य खारे और आसुत जल से संक्रमित क्वार्टरों की सफाई। संक्रमण के तुरंत बाद एंटीबायोटिक उपचार का आसव। एंटीबायोग्राम के अनुसार लगातार एंटीबायोटिक का प्रयोग करें। </li>
              </ul>
              <p><strong>नियंत्रण:</strong>&nbsp; </p>
              <ul class="jfy">
                <li>स्वास्थ्यकारी उपाय महत्वपूर्ण हैं। </li>
                <li>पॉजिटिव पाए गए जानवरों को अंत में दूध पिलाना चाहिए।&nbsp; </li>
                <li>दूध देने वालों को दूध देने से पहले हाथ धोना चाहिए और अच्छी तरह से धोए गए सफेद चौग़ा का उपयोग करना चाहिए।</li>
                <li>थन को कीटाणुनाशक से धोने के लिए प्रत्येक गाय के लिए एक अलग साफ कपड़े का उपयोग किया जाता है।</li>
                <li>प्रत्येक तिमाही से दूध की पहली धारा को फर्श पर गिरने नहीं दिया जाना चाहिए बल्कि एक अलग कंटेनर में एकत्र किया जाना चाहिए।&nbsp; दूध वालों को दूध की पहली धारा से हाथ नहीं गीला करना चाहिए।</li>
            </ul></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><p><strong>परजीवी रोग</strong></p>
              <p><strong>एनाप्लाज्मोसिस</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
              <ol class="jfy">
                <li>एनाप्लाज्मोसिस एक वेक्टर जनित, पशुओं में संक्रामक रक्त रोग है जो रिकेस्ट्सियल परजीवी <em>एनाप्लाज्मा मार्जिनल</em> और <em>एनाप्लाज्मा सेंट्रेल</em> के कारण होता है।</li>
                <li>इसे दूषित सुई, सींग हटाने के उपकरण, कैस्ट्रेटिंग चाकू, टैटू यंत्र, काटने वाली मक्खियों और मच्छरों के माध्यम से भी प्रेषित किया जा सकता है।&nbsp;
</li>
                <li>इंट्रासेल्युलर परजीवी लाल रक्त कोशिकाओं को नष्ट कर देता है।&nbsp; यह एनीमिया, बुखार, वजन घटाने, सांस फूलना, असंगठित आंदोलनों, गर्भपात और मृत्यु का कारण बनता है।&nbsp; </li>
              </ol>
              <p><strong>गोजातीय बेबेसिओसिस(Red water disease, Tick fever)</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
              <ol class="jfy">
                <li>बोवाइन बेबियोसिस मवेशियों और भैंसों की एक ज्वर, टिक-जनित बीमारी है, जो जीनस <em>बेबेसिया के एक या एक से अधिक प्रोटोजोआ परजीवी के कारण होती है।</em></li>
                <li>तीव्र रूप को आम तौर पर तेजी से विकास और रक्त में परजीवी के गुणन के साथ व्यापक एरिथ्रोसाइटिक लसीका के कारण एनीमिया, इक्टेरस, हीमोग्लोबिनुरिया, प्लीहा का इज़ाफ़ा और अक्सर, मृत्यु की विशेषता होती है। </li>
                <li>शब्द &quot;बेबेसियासिस&quot; उपनैदानिक ​​और पुराने संक्रमणों को संदर्भित करता है जो आमतौर पर परजीवी द्वारा प्रारंभिक हमले से ठीक होने के बाद भी बना रहता है।</li>
                <li>जीर्ण रूप को चिकित्सकीय रूप से खराब रूप से परिभाषित किया गया है और यह एनीमिया और चर वजन घटाने से जुड़ा है।</li>
            </ol></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><p><strong>थिलेरियोसिस</strong></p>
              <hr align="left" width="300" size="1" color="#3366FF"/>
              <ol class="jfy">
                <li>थिलेरियोसिस स्तनधारियों की एक बीमारी है-&nbsp; </li>
                <li><a href="http://en.wikivet.net/Theileria"><em>T. </em></a><a href="http://en.wikivet.net/Theileria"><em>पर्व</em></a><a href="http://en.wikivet.net/Theileria"> and </a><a href="http://en.wikivet.net/Theileria"><em>T. </em></a><a href="http://en.wikivet.net/Theileria">मवेशियों में <em>अनुलाटा</em></a></li>
                <li><strong>चिह्नित पायरेक्सिया</strong>, <a href="http://en.wikivet.net/Lymph_Nodes_-_Anatomy_%26_Physiology"><strong>लिम्फ नोड इज़ाफ़ा</strong></a>, <strong>डिस्पनोआ</strong>, <strong>एपिस्टेक्सिस</strong>, <strong>क्षमता</strong>, <a href="http://en.wikivet.net/Diarrhoea"><strong>दस्त</strong></a> और अन्य जीआई लक्षण। </li>
                <li><strong>नेत्र संबंधी संकेत</strong> और द्रव्यमान विकसित हो सकते हैं। </li>
                <li>प्रुरिटस और <strong>त्वचा के घाव/सजीले टुकड़े</strong> भी देखे जाते हैं।</li>
                <li>पुरानी या स्थानिक बीमारी में न्यूरोलॉजिकल और प्रजनन संबंधी लक्षण विकसित हो सकते हैं।</li>
                <li>पाइरेक्सिया की डिग्री, रोगज़नक़ भार और मेजबान संवेदनशीलता प्रस्तुति पर नैदानिक ​​​​संकेतों की गंभीरता को निर्धारित करेगी।</li>
              </ol>       <p align="center"><strong>टीकाकरण कार्यक्रम </strong></p>
              <table width="531" height="207" border="1" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="96" align="center" valign="middle" bgcolor="#F65FDE" ><strong>रोग</strong></td>
                  <td width="129" align="center" valign="middle" bgcolor="#F65FDE"><strong>आयु</strong></td>
                  <td width="141" align="center" valign="middle" bgcolor="#F65FDE"><strong>मध्यान्तर</strong></td>
                  <td width="155" align="center" valign="middle" bgcolor="#F65FDE"><strong>महीना</strong></td>
                </tr>
                <tr>
                  <td width="96" align="center" valign="middle" bgcolor="#87CEFA">एफएमडी</td>
                  <td width="129" align="center" valign="middle" bgcolor="#87CEFA">तीसरा महीना</td>
                  <td width="141" align="center" valign="middle" bgcolor="#87CEFA">हर छह महीने</td>
                  <td width="155" align="center" valign="middle" bgcolor="#87CEFA">जनवरी-फरवरी, जून-जुलाई</td>
                </tr>
                <tr>
                  <td width="96" align="center" valign="middle" bgcolor="#87CEFA">बीजी</td>
                  <td width="129" align="center" valign="middle" bgcolor="#87CEFA">छठा महीना</td>
                  <td width="141" align="center" valign="middle" bgcolor="#87CEFA">हर साल</td>
                  <td width="155" align="center" valign="middle" bgcolor="#87CEFA">अगस्त-सितंबर</td>
                </tr>
                <tr>
                  <td width="96" align="center" valign="middle" bgcolor="#87CEFA">एच एस</td>
                  <td width="129" align="center" valign="middle" bgcolor="#87CEFA">छठा महीना</td>
                  <td width="141" align="center" valign="middle" bgcolor="#87CEFA">हर साल</td>
                  <td width="155" align="center" valign="middle" bgcolor="#87CEFA">सितम्बर-अक्टूबर</td>
                </tr>
                <tr>
                  <td width="96" align="center" valign="middle" bgcolor="#87CEFA">बिसहरिया</td>
                  <td width="129" align="center" valign="middle" bgcolor="#87CEFA">छठा महीना</td>
                  <td width="141" align="center" valign="middle" bgcolor="#87CEFA">हर साल <br />
                    ( केवल प्रभावित क्षेत्र)</td>
                  <td width="155" align="center" valign="middle" bgcolor="#87CEFA">अप्रैल मई</td>
                </tr>
                <tr>
                  <td width="96" align="center" valign="middle" bgcolor="#87CEFA">ब्रूसिलोसिस</td>
                  <td width="129" align="center" valign="middle" bgcolor="#87CEFA">बछिया का 4-8वां महीना</td>
                  <td width="141" align="center" valign="middle" bgcolor="#87CEFA">--</td>
                  <td width="155" align="center" valign="middle" bgcolor="#87CEFA">मार्च - अप्रैल</td>
                </tr>
              </table></td>
          </tr>
        </table>
    </tr>
    <tr>
      <td colspan="2" valign="top" bgcolor="#6B3010" style="line-height:40%;"><!--DWLayoutEmptyCell-->&nbsp;</td>
    </tr>
    <tr>
      </div></td>
    </tr>
  </table>
</div>
</body>
</html>
